@font-face{ font-family: 'ethnocentric'; src: url('../fonts/ethnocentric rg.ttf') format('truetype');   }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body { background-color: #112334; }

#errorDiv-container {
    width: 98vw;
    height: 98vh;
    position: relative;
    margin: auto;
}

#errorDiv {
    width: 1000px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    line-height: 400px;
    padding: 0px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
}

h1 {
    font-size: 30px;
    font-family: 'ethnocentric';
    color: white;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

p {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}