/**
*   Explorateur de fichiers
*/
#explorer {
    font-size: 14px;
}

#explorer ul {
    list-style-type: none;
}

#explorer a, #explorer li {
    text-decoration: none;
}

#explorer li div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px !important;
}

#explorer li div input[type=checkbox] {
    margin-right: 8px;
}

#explorer li span {
    display: block;
}

#explorer ul {
    padding-left: 15px;
}

#delete-packages-btn {
    margin-left: 15px;
}

input[type=file] {
    background-color: #2b2b2b;
    padding-left: 0;
}