#login-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    margin: auto;
    overflow: auto;
}

#login-logo {
    max-width: 80px;
    margin-bottom: 30px;
    text-align: center;
}

#login-banner {
    max-width: 80%;
    max-height: 20%;
    overflow: auto;
}

#login-form, #login-sso-form {
    width: 250px;
}

#login-error {
    width: 90vw;
    max-width: 90vw;
    text-align: center;
    overflow: auto;
}
