@font-face{ font-family: 'ethnocentric'; src: url('../fonts/ethnocentric rg.ttf') format('truetype'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Codes couleurs

// boutons //
    boutons bleu :              #2b426e
    boutons bleu (hover) :      #263859

    boutons vert :              #489f4d
    boutons vert (hover) :      #3e8e41

    boutons rouge :             #d9534f
    boutons rouge (hover) :     #b14440

    boutons gris :              #555555
    boutons gris (hover) :

    boutons blanc :             #f7f7f7
    boutons blanc (hover) :
*/

body {
    /* Gestion de l'affichage 'fade-in' de chaque page, afin de rendre l'affichage des pages plus agréable
    Voir @keyframes fadeInAnimation en complément ci-dessous */
    animation: fadeInAnimation ease 0.00001s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Roboto', sans-serif !important;
    margin: 0px;
    padding: 0px;
    /* background-color: #262525; */
    background-color: #202020;
    color: whitesmoke; /* couleur par défaut */
    overflow-x: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 transparent,
                  .25px .25px transparent;
}

a:hover {
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 white,
                  .25px .25px white;
}

p, label, a, i, span {
    font-size: 14px;
    color: whitesmoke;
    /* vertical-align: middle; */
}

span {
    line-height: inherit !important;
    vertical-align: middle;
}

b, strong {
    font-weight: bolder;
}

h1, h2, h3, h4 {
    color: whitesmoke;
    opacity: 0.50;
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
}

h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

p, h1, h2, h3, h4, h5 {
    line-height: 1.5em;
}

hr {
    border-color: gray;
    opacity: 0.11;
}

pre {
    font-family: monospace, monospace;
    font-size: 12px;
}

td {
    height: 36px;
    vertical-align: middle;
}

/* Classes génériques */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
.float-left { float: left; }
.float-right { float: right; }
.align-top { vertical-align: top; }
.text-center { text-align: center; }
.relative { position: relative; }
.pointer { cursor: pointer; }
/* Classes génériques permettant de créer des textes de couleurs */
.greentext { color: #489f4d; }
.redtext { color: #d9534f; }
.yellowtext { color: #cc9951; }
.graytext { color : gray; }
.center { text-align: center; }
.baseline { vertical-align: baseline; }
.lowopacity { opacity: 0.33; }
.mediumopacity { opacity: 0.55 }
.verylowopacity { opacity: 0.08; }
.lowopacity:hover, .mediumopacity:hover, .verylowopacity:hover { opacity: 1 }
.opacity-80 { opacity: 0.80; }
/* Classes génériques permettant de créer des images de couleurs à partir d'images blanches https://codepen.io/sosuke/pen/Pjoqqp */
.yellowimg {
    filter: brightness(0) saturate(100%) invert(73%) sepia(30%) saturate(901%) hue-rotate(347deg) brightness(97%) contrast(93%);
}
.bkg-green {
    background-color: #489f4d !important;
    color: white !important;
}
.bkg-yellow {
    background-color: #cc9951 !important;
    color: white !important;
}
.bkg-red {
    background-color: #d9534f !important;
    color: white !important;
}
.no-bkg {
    background: none !important;
}

header {
    width: 100%;
    margin-bottom: 70px;
    position: relative;
}
header li span:not(#title, #version, .underline, .li-operation-not-running, .li-operation-running) {
    opacity: 0.55;
}

#menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto 1fr;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}
#title {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 22px 25px 22px 0px !important;
    display: inline-block;
    color: whitesmoke;
}
#title span {
    font-family: 'ethnocentric';
    font-size: 18px;
}
#menu .menu-sub-container > div {
    padding: 22px 25px 22px 25px;
}
#menu div span {
    vertical-align: middle !important;
}
#menu div span.header-link {
    opacity: 0.50;
}
#menu div span.header-link:hover {
    opacity: 1;
}
#menu div span.underline {
    border-bottom: 2px solid #2b426e;
    padding-bottom: 22px;
    vertical-align: middle;
}
#header-refresh {
    position: relative;
}
.op-total-running {
    position: absolute;
    top: -30px;
    right: -15px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 2px 3px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}
.header-op-container {
    display: none;
    position: absolute;
    margin-top: 15px;
    z-index: 99;
}
.header-op-subdiv {
    display: flex !important;
    justify-content: space-between;
    min-width: max-content;
    margin-bottom: 3px;
    text-align: left !important;
}
.header-op-subdiv span {
    line-height: 1.5em !important;
}

#header-refresh-container:hover .header-op-container {
    display: block;
}
#userspace {
    text-align: right;
}

section.main {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.div-28 { width: 28%; padding: 10px; }.div-29 { width: 29%; padding: 10px; }.div-30 { width: 30%; padding: 10px; }
.div-33 { width: 33%; padding: 10px; }.div-45 { width: 45%; padding: 10px; }.div-48 { width: 48%; padding: 10px; }
.div-49 { width: 49%; padding: 10px; }.div-50 { width: 50%; padding: 10px; }.div-65 { width: 65%; padding: 10px; }
.div-67 { width: 67%; padding: 10px; }.div-68 { width: 68%; padding: 10px; }.div-69 { width: 69%; padding: 10px; }
.div-70 { width: 70%; padding: 10px; }
.flex { display: flex; }
.flex-div-15 { flex: 0 0 14%; }
.flex-div-20 { flex: 0 0 19%; }
.flex-div-25 { flex: 0 0 24%; }
.flex-div-30 { flex: 0 0 29%; }
.flex-div-33 { flex: 0 0 32%; }
.flex-div-40 { flex: 0 0 39%; }
.flex-div-50 { flex: 0 0 47%; }
.flex-div-60 { flex: 0 0 59%; }
.flex-div-65 { flex: 0 0 64%; }
.flex-div-68 { flex: 0 0 67%; }
.flex-div-80 { flex: 0 0 79%; }
.flex-div-100 { flex: 0 0 98%; }

/* Les articles constituent le container principal des sections mainSectionLeft et mainSectionRight. */
article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

/* Sections conteneurs permettant de séparer les pages en deux */
section.mainSectionLeft {
    flex: 0 0 68%;
    order: 1;
    /* padding-left: 15px; */
    display: inline-block;
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.mainSectionRight {
    flex: 0 0 29.5%;
    order: 2;
    /* padding-right: 15px; */
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.left, section.right, .section-center, section.missing-param-alert, #newRepoDiv {
    width: 98%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionLeft' */
    margin-bottom: 30px;
    padding: 10px;
    vertical-align: top;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    background-color:#2b2b2b;
}

/* Paramètres supplémentaires pour les class ci-dessus */
.section-center {
    width: 99%;
    margin: auto;
    margin-bottom: 30px;
    min-height: 300px;
    display: inline-block;
}
section.left {
    /* min-height: 300px;  */
    display: inline-block;
}
/* section.right, #newRepoDiv {
    float: right;
} */
section.missing-param-alert {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#newRepoDiv, #groupsDiv, #sourcesDiv, #displayDiv {
    width: 98%;
    padding: 10px;
    display: none;
}

#groupsHostDiv {
    padding: 10px;
}

form.actionform {
    padding: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
     background-color:#333333;
}

table {
    width: 100%;
    font-size: 14px;
    table-layout: auto !important;
}
.table-large  { width: 100%; }
.table-medium { width: 65%; }
.table-small  { width: 25% }

/**
 *  Tableaux génériques
 */

/* Concerne toutes les classes commencant par table-generic- */
[class^="table-generic"] {
    border-collapse: separate !important;
    border-spacing: 0 4px;
    table-layout: auto !important;
    white-space: nowrap;
}
[class^="table-generic"] tr td {
    padding-left: 8px;
    padding-right: 8px;
}
[class^="table-generic"] tr td:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
[class^="table-generic"] tr td:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
[class^="table-generic"] thead tr {
    background: none !important;
    font-weight: bold;
}
.table-generic-blue tr { background-color: #2b426e; }
.table-generic-red tr  { background-color: #d9534f; }

.div-generic-gray {
    position: relative;
    /* margin: 5px; */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #403f3f;
    background-color: #333333;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

#repos-list-container {
    width: 100%;
    font-size: 14px;
}

.repos-list-group-flex-div {
    display: grid;
    grid-template-columns: 200px 250px auto auto auto auto 70px 1fr;
    margin-bottom: 4px;
    background-color: #2b426e;
    border-radius: 3px;
    border: 1px solid #333333;
    padding: 4px;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0px 0.5px 0px 0px rgb(0 0 0 / 50%) inset,
    0px 0px 0px 0px rgb(109 109 109 / 20%);
}

/* .repos-list-type-redhat {
    /* grid-template-columns: 200px auto auto auto auto 96px 1fr;
    grid-template-columns: 200px auto auto auto auto 70px 1fr;
}*/

/* .repos-list-type-debian { */
    /* grid-template-columns: 200px 250px auto auto auto auto 70px 1fr; */
    /* grid-auto-columns: 200px 250px auto auto auto auto 96px 1fr; */
/*}*/

.repos-list-group-flex-div [class^="item"] {
    padding: 4px 0px 4px 8px;
    position: relative;
}

.repos-list-group-flex-div:hover, .repos-list-group-flex-div:hover .item-desc [type=text] {
    background-color: #263859;
    transition-duration: 0.4s;
}

.repos-list-group-flex-div:hover input[type=checkbox] {
    visibility: visible;
}

.repos-list-group-flex-div input[type=checkbox]:hover {
    opacity: 1;
}

.item-repo {
    font-weight: bold;
}

.item-pkgtype {
    font-size: 10px;
    vertical-align: middle;
    position: absolute !important;
    top: 20px;
    left: 1px;
}

.item-pkgtype .icon-small {
    margin: 0 !important;
}

.item-empty-line {
    grid-column-start: 1;
    grid-column-end: -1;
}

.item-checkbox input[type=checkbox] {
    vertical-align: middle;
    margin-right: 10px;
    opacity: 0.5;
    visibility: hidden;
}

.item-date, .item-arrow, .item-checkbox, .item-env {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.item-arrow {
    margin-right: 1px;
    position: relative;
    width: 25px;
}

.item-arrow span {
    width: 100%;
    position: absolute;
    top: 4px;
    border-top: 1px solid white;
}

.item-arrow-up span {
    position: absolute;
    top: -39px;
    height: 43px;
    width: 18px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 4px;
}

.item-env {
    min-width: 40px;
}

.item-dist-section-sub {
    max-width: fit-content;
    color: white;
    background-color: #333333;
    font-size: 12px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    vertical-align: middle;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%) inset, 0px 2px 2px 0px rgb(109 109 109 / 20%);
}

.item-dist-section-sub span {
    font-size: 13px;
}

.item-dist {
    padding-right: 0 !important;
}

.item-snapshot {
    padding: 15px 0 0 0 !important;
}

.item-date span {
    color: white;
    background-color: #333333;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%) inset, 0px 2px 2px 0px rgb(109 109 109 / 20%);
}

.item-info {
    padding: 2px 0 0 2px !important;
    position: inherit !important;
    max-width: fit-content;
}

.item-info img, .item-env-info img {
    height: 12px;
    display: inline;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.item-info span {
    font-size: 12px;
}

.item-env-info {
    padding-left: 4px !important;
}

.item-desc {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.item-desc [type=text] {
    background-color: #2b426e;
}

.item-desc [type=text]::placeholder {
    color: #dfdfdf7a;
    visibility: hidden;
}

.item-desc [type=text]:hover::placeholder {
    visibility: visible;
}

.td-white-bckg span, .td-red-bckg span {
    width: 100%;
    display: block; /* pour que le width s'applique correctement */
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
}

.td-white-bckg span {
    background-color: lightgray;
    color: black;
}

.td-red-bckg span {
    background-color: #d9534f;
    color: whitesmoke;
}

/* Classe td génériques */
td {
    color: whitesmoke;
}
.td-fit { /* cellule qui s'adapte à la taille du contenu, avec léger padding sur les côté pour ne pas finir collé au reste */
    width: 1%;
    /* width: 0px; */
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
}
.td-small { width: 200px; }
.td-medium { width: 300px; }
.td-large { width: 500px; }
.td-10, .td-30, .td-50, .td-100 {
    width: 0px;
    margin: 0px;
    white-space: nowrap;
}
.td-10 { padding-right: 10px !important; }
.td-30 { padding-right: 30px !important; }
.td-50 { padding-right: 50px !important; }
.td-100 { padding-right: 100px !important; }
.td-desc {
    margin: 0px;
    padding-right: 30px !important;
    white-space: normal;
}

.hide, .tr-hide, .td-hide {
    display: none;
}

/* conf commune à toutes les icones */
.icon, .icon-small, .icon-lowopacity, .icon-verylowopacity, .icon-invisible, .icon-mediumopacity, .icon-nf {
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    /* filter: invert(100%) sepia(4%) saturate(1596%) hue-rotate(265deg) brightness(105%) contrast(101%); */
}
.icon-nf { /* nf : no filter, retire le filtre par défaut actif pour les icones noires */
    filter: none;
}
.icon-small { height: 8px; }
.icon-lowopacity {
    opacity: 0.33;
}
.icon-verylowopacity { /* pour une icone encore plus transparente */
    opacity: 0.08;
}
.icon-lowopacity:hover, .icon-verylowopacity:hover, .icon-invisible:hover, .icon-mediumopacity:hover {
    opacity: 1;
}
.icon-invisible { /* icone invisible, révélée par un passage de souris (hover) */
    opacity: 0;
}
.icon-mediumopacity {
    opacity: 0.55;
}
.divReposListDisplay {
    display: none;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #252525;
}
.divReposConf {
    width: 100%;
    padding-top: 15px;
    padding-left: 30px;
    position: fixed; /* on positionne le div au centre de la page */
    bottom: 0;
    left: 0;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%) inset, 0px 2px 2px 0px rgb(109 109 109 / 20%);
    background-color: #252525;
    z-index: 90;
    color: whitesmoke;
    vertical-align: middle;
}
.divReposConf-close {
    position: fixed;
    right: 8px;
}
#divReposConfCommands-container {
    position: relative;
    width: fit-content;
}
#divReposConfCommands-container img {
    position: absolute;
    top: 5px;
    right: 5px;
}
#divReposConfCommands {
    width: fit-content;
    background-color: #222222;
    border-radius: 4px;
    border: 1px solid #1c1c1c;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding: 15px;
    margin-bottom: 30px;
}

/* form, button, input, textarea */

input[type=text], input[type=date], input[type=time], input[type=number], input[type=email], input[type=password], input[type=color], input[type=file], select {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 4px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    color: whitesmoke;
    background-color:#474747;
}

input[type=file] {
    background: none !important;
}

input[type=color].color-xsmall { width: 50px; vertical-align: middle; }
input[type].input-small, .select-small { width: 100px; }
input[type].input-medium, .select-medium { width: 150px; }
input[type].input-large, .select-large { width: 250px; }
input:checked { opacity: 1; }
.select-xxlarge {
    width: 400px;
}

/* Tous les boutons */
[class^="btn-"], [class*=" btn-"] {
    padding: 7px 5px 7px 5px;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

/* Tous les boutons bleus */
.btn-large-blue, .btn-medium-blue, .btn-small-blue, .btn-xsmall-blue, .btn-xxsmall-blue, .btn-fit-blue {
    background-color: #2b426e;
}
/* Tous les boutons verts */
.btn-large-green, .btn-medium-green, .btn-small-green, .btn-xsmall-green, .btn-xxsmall-green, .btn-fit-green {
    background-color: #489f4d;
}
/* Tous les boutons rouges */
.btn-large-red, .btn-medium-red, .btn-small-red, .btn-xsmall-red, .btn-xxsmall-red, .btn-fit-red {
    background-color: #d9534f;
}
/* Tous les boutons jaunes */
.btn-large-yellow, .btn-medium-yellow, .btn-small-yellow, .btn-xsmall-yellow, .btn-xxsmall-yellow, .btn-fit-yellow {
    background-color: #eb984e;
}
/* Boutons taille large */
.button-large, .btn-large-blue, .btn-large-green, .btn-large-red {
    width: 100%;
}
/* Boutons taille moyenne */
.button-medium, .btn-medium-blue, .btn-medium-green, .btn-medium-red {
    width: 150px;
}
/* Boutons petite taille */
.button-small, .btn-small-blue, .btn-small-green, .btn-small-red {
    width: 100px;
}
/* Boutons très petite taille */
.button-xsmall, .btn-xsmall-blue, .btn-xsmall-green, .btn-xsmall-red {
    width: 50px;
}
/* Boutons carré */
.button-xxsmall, .btn-xxsmall-blue, .btn-xxsmall-green, .btn-xxsmall-red {
    margin: 2px;
    width: 30px;
}

/* Tous les boutons bleus :hover */
.btn-large-blue:hover, .btn-medium-blue:hover, .btn-small-blue:hover, .btn-xsmall-blue:hover, .btn-xxsmall-blue:hover, .btn-fit-blue:hover {
    transition-duration: 0.4s;
    background-color: #263859;
}
/* Tous les boutons verts :hover */
.btn-large-green:hover, .btn-medium-green:hover, .btn-small-green:hover, .btn-xsmall-green:hover, .btn-xxsmall-green:hover, .btn-fit-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}
/* Tous les boutons rouges :hover */
.btn-large-red:hover, .btn-medium-red:hover, .btn-small-red:hover, .btn-xsmall-red:hover, .btn-xxsmall-red:hover, .btn-fit-red:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

.repo-action-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.hostsActionBtn, .hostActionBtn {
    margin-top: 5px;
}

/* Menu gestion des profils */
/* input qui ont le même fond que la couleur de fond de leur conteneur permettant que le cadre de l'input soit 'invisible' */
input[type=text].invisibleInput, input[type=text].invisibleInput-blue {
    border: none;
}

input[type=text].invisibleInput {
    background-color: #2b2b2b;
}

input[type=text].invisibleInput-blue {
    background-color: #2b426e;
    width: 100%;
}

/* boutons switch-field */
.switch-field {
    display: flex;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
}

.switch-field input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: whitesmoke;
    color: #3b3b3b;
    line-height: 1;
    text-align: center;
    padding: 3px 7px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #2b426e;
    box-shadow: none;
    color: whitesmoke;
}

.switch-field label:first-of-type {
    border-radius: 2px 0 0 2px;
}

.switch-field label:last-of-type {
    border-radius: 0 2px 2px 0;
}

/** Switchs On/Off */

/* The onoff-switch-label - the box around the slider */
.onoff-switch-label {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Hide default HTML checkbox */
.onoff-switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.onoff-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.onoff-switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.onoff-switch-input:checked + .onoff-switch-slider {
    background-color: #2b426e;
}
.onoff-switch-input:focus + .onoff-switch-slider {
    box-shadow: 0 0 1px #2b426e;
}
.onoff-switch-input:checked + .onoff-switch-slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Etiquettes d'environnements */
.env, .last-env, .env-fit, .last-env-fit {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
    border-radius: 2px;
    /* box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%) inset, 0px 2px 2px 0px rgb(109 109 109 / 20%); */
    box-shadow: 0px -1px 0px 0px rgb(0 0 0 / 50%) inset, 0px -1px 0px 1px rgb(109 109 109 / 20%)
}
.env, .env-fit {
    background-color: #ffffffc7;
    color: #000000d9;
}
.env-fit, .last-env-fit {
    text-align: center;
    display: block;
}
.last-env, .last-env-fit {
    color: whitesmoke;
    background-color: #d9534f;
}
.label-black, .label-white, .label-green, .label-red, .label-yellow {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%) inset, 0px 2px 2px 0px rgb(109 109 109 / 20%);
}
.label-black {
    background-color: #242424;
    color: whitesmoke;
}
.label-white {
    background-color: #ffffffc7;
    color: #000000d9;
}
.label-green {
    background-color: #3e8e41;
    color: whitesmoke;
}
.label-red {
    background-color: #d9534f;
    color: whitesmoke;
}
.label-yellow {
    background-color: #cc9951;
    color: white;
}

/**
 *  Si le label se trouve dans un td, il faut spécifier un padding top et bottom
 */
td .label-white, td .label-black, td .label-green, td .label-red, td .label-yellow {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 14px;
    color: whitesmoke;
    background-color:#474747;
    border-radius: 3px;
    border: none;
}

.textarea-100 {
    min-height: 100px;
}

.div-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

footer {
    height: 400px;
    margin-top: 100px;
    padding: 10px; /* marge intérieur */
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#2b2b2b;
}
footer p { color: gray; }
/* lien vers github dans le footer */
#github img { width: 25px; }

/* Boutons au sommet de la liste des repos permettant d'afficher les div cachées (groupes, repos sources) */
#ReposListDisplayToggleButton, #ReposSourcesToggleButton, #GroupsListToggleButton, #settingsToggleButton {
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#newRepoToggleButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    background-color:#2b426e;
    border-radius: 5px;
}

#newRepoToggleButton:hover {
    background-color: #263859;
}

#ReposListDisplayToggleButton:hover, #ReposSourcesToggleButton:hover, #GroupsListToggleButton:hover, #settingsToggleButton:hover {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#252525;
    border-radius: 5px;
}

#hideAllReposGroups {
    position: absolute;
    right: 8px;
    top: -28px;
}

.action, .alert, .alert-success, .alert-error, .confirmAlert { /* div affichant une alerte au milieu de la page */
    width: 100%;
    height: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    position: fixed; /* on positionne le div au centre de la page */
    bottom: 0;
    left: 0;
    z-index:99;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}
/* .confirmAlert {
    height: 18px;
} */
.alert-success { background-color: #489f4d; }
.alert-error { background-color: firebrick; }
.alert span, .alert-success span, .alert-error span, .confirmAlert span {
    font-size: 16px;
}
.confirmAlert-message, .alert-message {
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.confirmAlert-buttons-container {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-doConfirm, .btn-doCancel {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid black;
}
.btn-doConfirm {
    background-color: #d9534f;
}
.btn-doConfirm:hover {
    background-color: #b14440;
}

.server-properties-container {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}

.server-properties-container div:first-child .server-properties {
    border-right: 1px solid #3b3b3b;
}

.server-properties div {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 0px;
}

.server-properties-count, .server-properties-count-green, .server-properties-count-red {
    position: relative;
    border-radius: 50%;
    border: 4px solid #2b426e;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 25px;
    height: 25px;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}
.server-properties-count span, .server-properties-count-green span, .server-properties-count-red span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13.5px;
}
.server-properties-count-green { border: 4px solid #489f4d; }
.server-properties-count-red { border: 4px solid #d9534f; }

.donut-chart-container {
    width: 120px;
    height: 120px;
    position: relative;
    margin: auto;
}

.donut-chart {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.donut-chart-container .donut-legend {
    position: absolute;
    text-align: center;
    font-size: 13px;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.donut-legend-title {
    position: absolute;
    text-align: center;
    font-size: 11px;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.donut-legend-content {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#newRepoToggleButton:hover .hide {
    display: inline-block;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.profileDiv, .serverDiv {
    border-radius: 2px;
    width: 49.3% !important;
    margin: 4px;
    display: inline;
    background-color: #2b426e;
    float: left;
}

.profileDiv table {
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileDiv table td span {
    vertical-align: bottom;
}
.profileDiv table span.hosts-count {
    font-size: 10px;
}

.profileDivConf {
    margin: 0px;
    padding: 4px;
    background-color: #252525;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    table-layout: auto !important;
}

.profileDiv textarea {
    height: 100px;
}

.detailsDiv {
    padding: 10px;
    background-color: #262525;
    border: 1px solid #1c1c1c;
    border-top: none;
    border-radius: 4px;
}

#planDiv .detailsDiv div {
    display: table-row;
}

#planDiv .detailsDiv div span {
    display: table-cell;
    width: 60%;
    padding: 5px;
}

.sourceDivs input[type=text].input-small {
    background-color: #262525;
    border: none;
    margin-right: 5px;
    margin-bottom: 2px;
}

.sourceDivs input[type=text].input-large {
    width: 78%;
}

.sourceDivs textarea {
    width: 99%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    background-color: #474747;
    border: none;
}

/* Gif de chargement caché par défaut */
.loading { display: none; }

/* Scrollbar personnalisée */
/* Compatible Chrome uniquement */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #596EB5;
    border-radius: 5px;
    /*border: 1px solid #2b426e;*/
}

/* divs avec rubans de couleurs */
/* Container */
.header-container {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* rubans de couleurs */
.header-green, .header-blue, .header-light-blue, .header-red {
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
}
.header-green-min, .header-blue-min, .header-light-blue-min, .header-red-min { /* idem au dessus mais convient mieux lorsqu'il y a un <input> à l'intérieur du container */
    border-radius: 2px;
    /* pas de padding lorsqu'il y a un <input> */
    padding-bottom: 0px;
    padding-top: 0px;
}
.header-green, .header-green-min { background-color: #489f4d; }
.header-red,   .header-red-min   { background-color: #d9534f; }
.header-blue,  .header-blue-min  { background-color: #2b426e; }
.header-light-blue,  .header-light-blue-min  { background-color: #435e91; }

.operation-form-container {
    margin: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #403f3f;
    background-color: #333333;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

.operation-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.operation-form span, .operation-form input[type=text], .operation-form select {
    flex: 0 0 50%;
}

.operation-form span:not(.onoff-switch-slider) { /* On applique à tous les span de .operation-form sauf ceux ayant la class .onoff-switch-slider */
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Les paragraphes eux occupent tout l'espace, les titres aussi */
.operation-form p, .operation-form h3 {
    flex: 0 0 100%;
}

#maintenance-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #333333d3;
    z-index: 1;
}

#maintenance {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    border-radius: 2px;
    border: 1px solid #403f3f;
    background-color: #333333;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

#maintenance p {
    font-size: 14px;
    text-align: center;
}

#loginDiv-container {
    height: 90vh;
    position: relative;
}
#loginDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#loginDiv form input {
    display: block;
}
#loginDiv div {
    margin: auto;
}

.round-div, [class^="round-div-medium"], [class^="round-div-small"] {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 60px;
    border: 8px solid #2b426e;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
    position: relative;
}
.round-div-medium-red, .round-div-small-red {
    border: 8px solid #d9534f;;
}
.round-div p, [class^="round-div-medium"] p, [class^="round-div-small"] p {
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.round-div-container {
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.round-div-container span {
    font-size: 35px;
}
[class^="round-div-medium"] .round-div-container span, [class^="round-div-small"] .round-div-container span {
    font-size: 24px;
}