@font-face{font-family: 'ethnocentric'; src: url('/assets/fonts/ethnocentric rg.ttf') format('truetype');}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /**
     *  'fade-in' mode on every page
     *  See @keyframes fadeInAnimation below
     **/
    /* animation: fadeInAnimation ease 0.00001s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    margin: 0px;
    padding: 0px;
    background-color: #112334;
    color: white;
    overflow-y: auto;
    font-size: 13px;
}

/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

header {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
#menu {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}
#menu > div {
    display: flex;
    align-items: center;
    height: 100%;
}
#menu > div:last-child {
    /* align userspace and logout buttons to the right */
    justify-content: flex-end;
}
#title {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 25px 0px 0px;
    display: inline-block;
    color: white;
}
#title span {
    font-family: 'ethnocentric';
    font-size: 18px;
}
[class^="menu-sub-container"] {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
.menu-sub-container a {
    opacity: 0.50;
}
.menu-sub-container-underline {
    border-bottom: 2px solid #5473e8;
    opacity: 1;
}
.menu-sub-container:hover a {
    opacity: 1;
}
.menu-section-title {
    display: none;
}
#header-refresh {
    position: relative;
}
.op-total-running {
    position: absolute;
    right: -15px;
    top: -30px;
    width: 15px;
    height: 15px;
    line-height: 15px !important;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ff0044;
    text-align: center;
    font-size: 9px;
    font-family: monospace;
    text-decoration: none;
}
.header-op-container {
    display: none;
    position: absolute;
    margin-top: 15px;
    z-index: 99;
}
.header-op-subdiv {
    display: flex !important;
    justify-content: space-between;
    min-width: max-content;
    margin-bottom: 3px;
    text-align: left !important;
    align-items: center;
}
.header-op-subdiv img {
    height: 18px;
}
#header-refresh-container:hover .header-op-container {
    display: block;
}
#notification-count {
    position: absolute;
    right: -9px;
    top: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px !important;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ff0044;
    text-align: center;
    font-size: 9px;
    font-family: monospace;
    text-decoration: none;
}
#userspace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Les articles constituent le container principal des sections section-left et section-right. */
article {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 20px auto 20px;
}
.section-left, .section-right {
    width: 100%;
    vertical-align: top;
}

.section-left {
    order: 2;
    align-self: flex-start;
}

.section-right {
    order: 1;
}

#title-button-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

#title-button-div h3 {
    margin-top: 0;
}

#title-button-container {
    display: flex;
    justify-content: space-between;
}

.close-btn {
    width: 18px;
    cursor: pointer;
}

.slide-btn {
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    text-decoration: none;
    width: auto;
    max-width: 28px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    height: 28px;
    -webkit-transition: max-width 0.7s;
    transition: max-width 0.7s;
    margin: 0 3px 0 3px;
    color: white;
    background-color: #15bf7f;
    border-radius: 60px;
    cursor: pointer;
}
.slide-btn:hover {
    max-width: 300px;
    background-color: #12a16a;
}
.slide-btn img {
    width: 18px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.slide-btn span {
    white-space: nowrap;
    padding-right: 12px;
    padding-left: 8px;
}

#repos-list-container {
    width: 100%;
    font-size: 14px;
}

.repos-list-group-select-all-btns {
    display: flex;
    margin-left: 330px;
    column-gap: 15px;
}

.repos-list-group-flex-div {
    display: grid;
    grid-template-columns: 300px 50px auto auto auto 60px 1fr;
    margin-bottom: 12px;
    background-color: #1d3349;
    border: 1px solid #24405c;
    border-radius: 8px;
    padding: 15px 4px 15px 4px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.repos-list-group-flex-div [class^="item"] {
    padding: 4px 0px 4px 8px;
    position: relative;
}

.repos-list-group-flex-div:hover, .repos-list-group-flex-div:hover .item-desc [type=text] {
    background-color: #182b3e;
    transition-duration: 0.4s;
}

.repos-list-group-flex-div:hover input[type=checkbox] {
    visibility: visible;
}

.repos-list-group-flex-div input[type=checkbox]:hover {
    opacity: 1;
}

.item-repo {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.item-empty-line {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 10px 0 10px 0 !important;
}

.item-checkbox {
    display: flex;
    justify-content: flex-end;
}

.item-checkbox input[type=checkbox] {
    vertical-align: baseline;
    margin-right: 10px;
    opacity: 0.5;
    visibility: hidden;
}

.item-arrow, .item-checkbox, .item-env {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.item-arrow {
    margin-top: 7px;
    margin-right: 1px;
    position: relative;
    width: 40px;
}

.item-arrow span {
    width: 100%;
    position: absolute;
    top: 5px;
    border-top: 1px solid #ffffff6b;
}

.item-arrow-up span {
    position: absolute;
    top: -35px;
    left: 15px;
    height: 46.5px;
    width: 30px;
    border-left: 1px solid #ffffff6b;
    border-bottom: 1px solid #ffffff6b;
    border-bottom-left-radius: 4px;
}

.item-env {
    min-width: 40px;
    padding: 0px !important;
}

.item-env span {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.item-repo-version {
    padding: 0px 0px 4px 8px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 6px;
}

.item-snapshot {
    width: 110px;
    padding: 0 0 0 0 !important;
}

.item-date {
    padding: 0 !important;
}

.item-date span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 16px;
    background-color: rgb(46, 54, 58);
    color: white;
    box-shadow: rgb(12 18 20 / 67%) 0px 0px 0px 1px;
}

.item-info {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    column-gap: 2px;
    padding: 5px 0 0 2px !important;
    position: inherit !important;
}

.item-info img, .item-env-info img {
    height: 17px;
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.item-info span {
    font-size: 14px;
    line-height: 0 !important;
}

.item-env-info {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    column-gap: 2px;
    padding-left: 4px !important;
}

.item-desc {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.item-desc [type=text] {
    background-color: #1d3349;
    height: 20px !important;
}

.item-desc [type=text]::placeholder {
    visibility: hidden;
}

.item-desc [type=text]:hover::placeholder {
    visibility: visible;
}

#repo-actions-btn-container > div {
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
    align-self: center;
    justify-content: center;
}

.divReposConf {
    width: 100%;
    padding-top: 15px;
    padding-left: 30px;
    position: fixed; /* on positionne le div au centre de la page */
    bottom: 0;
    left: 0;
    z-index: 90;
    color: white;
    vertical-align: middle;
    background-color: #182b3e;
    border-top: 1px solid rgb(60, 70, 75);
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.divReposConf-close {
    position: fixed;
    right: 8px;
}
#divReposConfCommands-container {
    position: relative;
    width: max-content;
}
#divReposConfCommands-container img {
    position: absolute;
    top: 5px;
    right: 5px;
}
#divReposConfCommands {
    min-width: 500px;
    width: max-content;
    border-radius: 8px;
    padding-left: 15px !important;
    padding-right: 30px !important;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #1d3349;
    border: 1px solid #24405c;
}

.repo-action-btn {
    margin-left: 5px;
    margin-right: 5px;
}

/* Menu gestion des profils */
/* input qui ont le même fond que la couleur de fond de leur conteneur permettant que le cadre de l'input soit 'invisible' */
input[type=text].invisibleInput, input[type=text].invisibleInput-blue {
    border: none;
}

input[type=text].invisibleInput {
    background-color: #2b2b2b;
}

input[type=text].invisibleInput-blue {
    background-color: #1d3349;
    width: 100%;
}

input::placeholder {
    color: #ffffff9e;
}

/* Etiquettes d'environnements */
.env, .last-env, .env-fit, .last-env-fit {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
    border-radius: 16px;
}
.env, .env-fit {
    background-color: white;
    color: #000000d9;
}
.env-fit, .last-env-fit {
    text-align: center;
    display: block;
}
.env-fit:hover, .last-env-fit:hover {
    background-color: #e6e6e6;
}
.last-env, .last-env-fit {
    color: white;
    background-color: #ff0044;
}
.last-env:hover, .last-env-fit:hover {
    background-color: #dc0044;
}

[class^="label-pkg"], .label-ok, .label-ko {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px !important;
    text-align: center;
    border-radius: 50%;
    font-size: 9px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.label-pkg-rpm {
    background-color: #5372e7;
}
.label-pkg-deb {
    background-color: #ff0044;
}
.label-ok {
    background-color: #14be7e;
}
.label-ko {
    background-color: #ff0044;
}

.div-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    width: auto;
    height: 300px;
    flex-grow: 1;
    margin-top: 200px;
    padding: 30px 15px 50px 15px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#182b3e;
}

footer #github img { width: 25px; }

#hideAllReposGroups {
    font-size: 13px;
}

.round-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 60px;
}

.circle-div-container div {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 0px;
}

.circle-div-container-count, .circle-div-container-count-green, .circle-div-container-count-yellow, .circle-div-container-count-red {
    position: relative;
    border-radius: 50%;
    border: 4px solid #5473e8;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 25px;
    height: 25px;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}
.circle-div-container-count span, .circle-div-container-count-green span, .circle-div-container-count-yellow span, .circle-div-container-count-red span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13.5px;
}
.circle-div-container-count-green { border: 4px solid #15bf7f; }
.circle-div-container-count-yellow { border: 4px solid #ffb536; }
.circle-div-container-count-red { border: 4px solid #ff0044; }

.donut-chart-container {
    width: 120px;
    height: 120px;
    position: relative;
    margin: auto;
}

.donut-chart {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.donut-chart-container .donut-legend {
    position: absolute;
    text-align: center;
    font-size: 13px;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.donut-legend-title {
    position: absolute;
    text-align: center;
    font-size: 11px;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.donut-legend-content {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profiles-container {
    columns: 1;
    column-count: 1;
    width: 100%;
}

.profiles-container > div {
    break-inside: avoid;
}

.detailsDiv {
    padding: 10px;
    background-color: #182b3e;
    border-left: 1px solid #24405c;
    border-right: 1px solid #24405c;
    border-bottom: 1px solid #24405c;
    border-top: none;
    border-radius: 8px;
}

.task-table tr td:first-child {
    width: 35%;
}

/* Gif de chargement caché par défaut */
.loading { display: none; }


/* Scrollbar personnalisée */
/* Compatible Chrome uniquement */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5473e8;
    border-radius: 5px;
}

/* divs avec rubans de couleurs */
/* Container */
.header-container {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.header-green, .header-green-min { background-color: #14be7e; }
.header-red, .header-red-min { background-color: #ff0044; }
.header-blue, .header-blue-min { background-color: #1d3349; }
.header-light-red, .header-light-red-min { background-color: #ff3369 !important; }
.header-light-blue, .header-light-blue-min { background-color: #2b4d6e !important; }

.task-form-params, .task-schedule-form-params {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #78838f38;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.task-form-params span, .task-form-params input[type=text], .task-form-params select {
    flex: 0 0 50%;
}

/* Les paragraphes eux occupent tout l'espace, les titres aussi */
.task-form-params p, .task-form-params h3 {
    flex: 0 0 100%;
}

#loginDiv-container {
    height: 90vh;
    position: relative;
}
#loginDiv {
    width: 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#loginDiv h3 {
    margin-left: auto;
    margin-right: auto;
}
#loginDiv form input {
    display: block;
}
#loginDiv div {
    margin: auto;
}

#maintenance-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #333333d3;
    z-index: 1;
}

#maintenance {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    border-radius: 8px;
    background-color: #112334;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

#maintenance p {
    font-size: 14px;
    text-align: center;
}

.hide, .tr-hide, .td-hide {
    display: none;
}

/* Desktop configuration */
@media (min-width:1500px) {
    .menu-section-title {
        display: block;
    }

    article {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-main {
        flex: 0 0 100%;
    }

    .section-left {
        flex: 0 0 68%;
        order: 1;
    }

    .section-right {
        flex: 0 0 29.5%;
        order: 2;
    }

    .profiles-container {
        columns: 2;
        column-count: 2;
    }
}