/* div qui affiche les journaux d'opérations */
#log-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#log-refresh-container {
    flex: 0 0 94%;
}

#log {
    order: 1;
    font-size: 14px;
    /* padding: 10px; */
    width: 100%;
}
#log-op-title {
    width: auto;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 20px;
}
#log-op-title h3 {
    margin-bottom: 0 !important;
    border: none;
}
#log pre { /* empecher le contenu des <pre> de dépasser */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #182b3e;
    padding: 20px;
    margin: 0;
}

/* Boutons Top et Down pour atteindre le haut ou le bas de page */
#scrollButtons-container {
    flex: 0 4%;
    order: 2;
}
/* Les boutons scroll sont fixes à l'intérieur du container */
#scrollButtons {
    position: sticky;
    top: 570px;
}

.button-top-down, .button-top-down-details {
    display: block;
    margin: 5px;
    width: 22px;
    height: 22px;
    padding: 6px;
    border-radius: 60px;
    background-color: #15bf7f;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.button-top-down img, .button-top-down-details img {
    height: 22px;
}

.button-top-down:hover, .button-top-down-details:hover {
    opacity: 1;
    background-color: #12a16a;
}

.op-header-container {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 15px;
}

/* Tableau des détails de l'opération, dans chaque fichier de log */
.op-table {
    width: 100%;
    margin: 5px;
}
.op-table th {
    text-align: left;
    width: 30%;
    height: 22px;
    font-weight: normal;
    vertical-align: middle;
}
.op-table td {
    opacity: 1;
    font-weight: bold !important;
}
.op-step-div {
    position: relative;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #24405c;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.op-step-title, .op-step-title-error, .op-step-title-ok, .op-step-title-warning, .op-step-loading, .op-step-time, .op-step-duration {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.op-step-title { width: 30%; }
.op-step-title-warning { width: 1%; }
.op-step-title-error, .op-step-title-ok, .op-step-loading { width: 60%; }
.op-step-time {
    font-size: 12px;
    opacity: 0.8;
    position: absolute;
    right: 10px;
}