#log-refresh-container {
    flex: 0 0 100%;
}

#log-refresh-container h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: none;
}

#log-refresh-container h6 {
    margin-top: 30px;
}

#log-refresh-container pre { /* empecher le contenu des <pre> de dépasser */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    margin: 10px 0 0 0;
}

.getPackagesDiv, .signRepoDiv, .createRepoDiv {
    background-color: #182b3e;
    padding: 15px;
}
.getPackagesDiv p, .signRepoDiv p, .createRepoDiv p {
    word-break: break-word;

}
.getPackagesDiv span, .signRepoDiv span, .createRepoDiv span {
    line-height: 2 !important;
}

/* Boutons Top et Down pour atteindre le haut ou le bas de page */
#scroll-btns-container {
    display: none;
}
/* Les boutons scroll sont fixes à l'intérieur du container */
#scroll-btns {
    position: sticky;
    top: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.op-header-container {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 15px;
}

/* Legacy task log layout */
.op-table {
    width: 100%;
    margin: 5px;
}
.op-table th {
    text-align: left;
    width: 30%;
    height: 22px;
    font-weight: normal;
    vertical-align: middle;
}
.op-table td {
    opacity: 1;
    font-weight: bold !important;
}
.op-step-div {
    position: relative;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #24405c;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}
.op-step-title, .op-step-title-error, .op-step-title-stopped, .op-step-title-ok, .op-step-title-warning, .op-step-loading, .op-step-time, .op-step-duration {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.op-step-title { width: 30%; }
.op-step-title-warning { width: 1%; }
.op-step-title-error, .op-step-title-stopped, .op-step-title-ok, .op-step-loading {
    width: 60%;
    line-height: 1.5;
}
.op-step-time {
    font-size: 12px;
    opacity: 0.8;
    position: absolute;
    right: 10px;
}

.op-step-title-stopped {
    display: none;
}

/* New task log layout */
.task-step {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #24405c;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.task-step-title {
    display: grid;
    grid-template-columns: 30% 50% 10%;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.task-step-content {
    grid-template-columns: 84% 16%;
    justify-content: space-between;
    min-height: 250px;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 20px;
    margin-top: 4px;
    border-left: 1px solid #24405c;
    border-right: 1px solid #24405c;
    border-bottom: 1px solid #24405c;
    background-color: #182b3e;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.task-sub-step-container {
    border-right: 1px solid #24405c;
}

.task-sub-step-content, .step-loading {
    display: grid;
    grid-template-columns: minmax(20px, 20px) auto;
    column-gap: 10px;
    border-top: 1px solid #24405c;
    padding: 15px;
}

.step-content-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

/* Desktop configuration */
@media (min-width:1500px) {
    #log-refresh-container {
        flex: 0 0 94%;
    }

    #scroll-btns-container {
        display: block;
        order: 2;
    }

    .task-step-content {
        grid-template-columns: 96% 4%;
    }
}