#stats-container, .hosts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hosts-table {
    width: 100%;
}

.hosts-compact-view {
    grid-template-columns: 35% 60%;
    align-items: center;
}

.hosts-compact-view-subgrid {
    grid-template-columns: 40% 25% 10%;
    justify-content: space-evenly;
}

.host-available-packages-label {
    min-width: 20px;
    text-align: center;
    border-radius: 60px;
    padding: 0 1px;
}

.host-additionnal-info {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 5px;
}

.stats-access-request {
    grid-template-columns: 1% 15% 20% auto;
}

.chart-loading {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.groups-list-container {
    margin-bottom: 500px;
}

.groups-container {
    columns: 1;
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 1;
    width: 100%;
    column-gap: 1%;
}

.hosts-group-container {
    break-inside: avoid;
}

.searchInput-container {
    width: 100%;
    margin-bottom: 50px;
}

.searchInput-subcontainer {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.searchInput-subcontainer p {
    text-align: center;
}

.hosts-charts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.hosts-chart-sub-container {
    min-height: 230px;
    position: relative;
}

.hosts-charts-list-label > div > span:first-child {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.hosts-charts-list-label span {
    font-size: 14px;
    color: #ffffffd9;
}

#hosts-requiring-reboot-chart {
    position: relative;
    height: 80%;
}

#hosts-requiring-reboot-chart p {
    font-size: 35px;
}
#hosts-requiring-reboot-chart:hover #hosts-requiring-reboot-chart-list {
    display: flex;
}

#installed-packages-div {
    padding: 5px;
}

#packagesContainerLoader {
    display: none;
}

#hosts-requiring-reboot-chart-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 300px;
    width: max-content;
    margin-top: 10px;
    padding: 20px 15px 20px 15px;
    text-align: left;
    z-index: 5;
    border-radius: 20px;
    background-color: #112334;
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}

#hosts-requiring-reboot-chart-list {
    flex-direction: column;
    row-gap: 6px;
    top: 100px;
    max-height: 500px;
    overflow: auto;
}

.event-packages-details {
    min-width: 50vw;
    max-width: 90vw;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

/**
 * Package timeline
 * https://www.w3schools.com/howto/howto_css_timeline.asp
 */
.timeline * {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    min-height: 50vh;
    margin: 0 auto;
    border-radius: 40px 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #cecece;
    top: 0;
    bottom: 0;
    left: 16px;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 0 0 0 40px;
    position: relative;
    background-color: inherit;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #112334;
    top: 15px;
    left: 0;
    border-radius: 50%;
    z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.timeline-container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 11px solid #22384F;
}

/* Desktop configuration */
@media (min-width:1500px) {
    .groups-container {
        columns: 2;
        column-count: 2;
    }

    .hosts-charts-container {
        display: grid;
        grid-template-columns: repeat(3, 32.5%);
    }

    .event-packages-details {
        min-width: 50vw;
        max-width: 90vw;
        grid-template-columns: 5% 30% 30% 10% 5%;
        column-gap: 10px;
        row-gap: 15px;
    }
}