#stats-container, .hosts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#repo-access-chart-div {
    height: 500px;
    padding-bottom: 100px;
}

#repo-access-chart-canvas {
    height: 100%;
    max-width: 99%;
    margin: auto;
}

.packages-table {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    /* supprimer les espaces entres les cellules */
    border-spacing : 0 4px;
    border-collapse: separate;
    table-layout: auto !important;
    white-space: nowrap;
}
.packages-table {
    white-space: wrap;
}

.packages-table head {
    font-weight: bold;
}

.packages-table tr {
    background-color: #1d3349;
    border-radius: 2px;
}

.packages-table tr:hover {
    opacity: 1;
}

.packages-table td {
    padding-left: 5px;
}

td:first-child,
.packages-table tr td:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

td:last-child,
.packages-table tr td:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hosts-table {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    white-space: nowrap;
}

.hosts-table-title, .host-line {
    display: grid;
    grid-template-columns: 3% 4% 47% 11% 11% 8% 8% 8%;
    align-items: center;
}

.hosts-table-title {
    padding: 0 15px 15px 15px;
}

.host-line {
    padding: 9px 15px 9px 15px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: #1d3349;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.host-update-status p {
    font-size: 12px;
    text-wrap: wrap;
}

.host-additionnal-info {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 5px;
}

.stats-access-request {
    grid-template-columns: 1% 10% 20% auto;
}

.chart-loading {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.groups-list-container {
    margin-bottom: 500px;
}

.groups-container .header-container {
    width: 32.8%;
    display: inline-block;
    margin: 4px;
}

.groups-container {
    columns: 1;
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 1;
    width: 100%;
    column-gap: 1%;
}

.hosts-group-container {
    break-inside: avoid;
}

.searchInput-container {
    width: 100%;
    margin-bottom: 50px;
}

.searchInput-subcontainer {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.searchInput-subcontainer p {
    text-align: center;
}

.hosts-charts-container {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.hosts-chart-sub-container {
    position: relative;
}

.hosts-chart-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #5f5f5f;
}

.hosts-charts-list-column-container {
    column-count: 2;
}

.hosts-charts-list-container {
    width: 80%;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hosts-charts-list-label > div > span:first-child {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.hosts-charts-list-label span {
    font-size: 13.5px;
    color: #ffffffd9;
}

.host-line-chart-container {
    height: 200px;
}

.host-pie-chart {
    max-height: 180px;
}
.host-bar-chart {
    max-height: 220px;
}

#hosts-requiring-reboot-chart {
    position: relative;
    height: 150px;
}
#hosts-requiring-reboot-chart p {
    font-size: 35px;
}
#hosts-requiring-reboot-chart:hover #hosts-requiring-reboot-chart-list {
    display: flex;
}

#installed-packages-div {
    padding: 5px;
}

#packagesContainerLoader {
    display: none;
}

.event-packages-details, .hosts-charts-list-label-hosts-list, #hosts-requiring-reboot-chart-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 300px;
    width: max-content;
    margin-top: 10px;
    padding: 20px 15px 20px 15px;
    text-align: left;
    z-index: 5; /* Pour que le bloc s'affiche au dessus des autres et ne soit pas à moitié masqué */
    border-radius: 8px;
    background-color: #112334;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}
.event-packages-details p {
    margin-bottom: 5px;
}

#hosts-requiring-reboot-chart-list, .hosts-charts-list-label-hosts-list {
    flex-direction: column;
    row-gap: 6px;
    top: 100px;
    max-height: 500px;
    overflow: auto;
}

/* Timeline de l'historique d'un paquet
   Source : https://www.w3schools.com/howto/howto_css_timeline.asp
*/
.timeline * {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #cecece;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #112334;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-container-left {
    left: 0;
}

/* Place the container to the right */
.timeline-container-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-container-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Add arrows to the right container (pointing left) */
.timeline-container-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-container-left::before       { border-left: 11px solid #182b3e; }
.timeline-container-right::before      { border-right: 11px solid #182b3e; }

/* Fix the circle for containers on the right side */
.timeline-container-right::after {
    left: -16px;
}

.package-details-container, .ws-request-log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #182b3e82;
}

.package-details, .ws-request-log {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 80%;
    padding: 15px 15px 15px 15px;
    border-radius: 8px;
    background-color: #112334;
    overflow: auto;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.ws-request-log pre {
    min-height: 200px;
    padding: 20px;
    margin-top: 20px;
    background-color: #0c141b;
    border-radius: 8px;
}

/* Desktop configuration */
@media (min-width:1500px) {
    .groups-container {
        columns: 2;
        column-count: 2;
    }
}