#stats-container, .hosts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-info-requests {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    font-size: 13px !important;
    z-index: 99;
    width: max-content;
    margin-top: 10px;
    padding: 5px 10px 5px 5px;
    border-radius: 2px;
    border: 1px solid #24405c;
    background-color: #1d3349;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.stats-info-requests span {
    font-size: 12px;
}

#repo-access-chart-div {
    height: 500px;
    padding-bottom: 100px;
}

#repo-access-chart-canvas {
    height: 100%;
    max-width: 99%;
    margin: auto;
}

.stats-access-table, .packages-table {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    /* supprimer les espaces entres les cellules */
    border-spacing : 0 4px;
    border-collapse: separate;
    table-layout: auto !important;
    white-space: nowrap;
}
.packages-table {
    white-space: wrap;
}

.stats-access-table head,
.packages-table head {
    font-weight: bold;
}

.stats-access-table tbody tr,
.packages-table tr {
    background-color: #1d3349;
    border-radius: 2px;
}

.stats-access-table tbody tr:hover,
.packages-table tr:hover {
    opacity: 1;
}

.stats-access-table td,
.packages-table td {
    padding-left: 5px;
}

.stats-access-table tr td:first-child,
td:first-child,
.packages-table tr td:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.stats-access-table tr td:last-child,
td:last-child,
.packages-table tr td:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hosts-table {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    white-space: nowrap;
}

.hosts-table-title, .host-line {
    display: grid;
    grid-template-columns: 3% 4% 45% 10% 10% 7% 7% 15%;
    align-items: center;
}

.hosts-table-title {
    padding: 0 15px 15px 15px;
}

.host-line {
    padding: 9px 15px 9px 15px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: #1d3349;
    -webkit-box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
    box-shadow: rgb(0 0 0) 0px 10px 13px -12px, rgb(0 0 0 / 15%) 0px 0px 10px 2px;
}

.host-additionnal-info {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 5px;
}

.stats-access-table-request {
    white-space: normal;
}

.chart-loading {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.groups-list-container {
    margin-bottom: 500px;
}

.groups-container .header-container {
    width: 32.8%;
    display: inline-block;
    margin: 4px;
}

.groups-container {
    columns: 1;
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 1;
    width: 100%;
    column-gap: 1%;
}

.hosts-group-container {
    break-inside: avoid;
}

.searchInput-container {
    width: 100%;
    margin-bottom: 50px;
}

.searchInput-subcontainer {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.searchInput-subcontainer p {
    text-align: center;
}

.packageDetails {
    width: 90%;
    height: max-content;
    max-height: 100vh;
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 10px 13px 6px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px 6px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    background-color:#112334;
    color: white;
    overflow: auto;
    z-index: 10;
}
.host-close, .packageDetails-close {
    position: fixed;
    right: 8px;
}

.host-update-request-btn {
    position: absolute;
    top: 4px;
    right: 10px;
}
.host-overview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.host-overview-container > div {
    width: 100%;
}
.host-pkg-history-container {
    display: flex;
    flex-direction: column;
}

.hosts-charts-container {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.hosts-chart-sub-container {
    position: relative;
}

.hosts-chart-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #5f5f5f;
}

.hosts-charts-list-column-container {
    column-count: 2;
    /* column-fill: auto; */
    /* height: 90%; */
}

.hosts-charts-list-container {
    width: 80%;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hosts-charts-list-label {
    display: flex;
    justify-content: space-between;
}

.hosts-charts-list-label > div > span:first-child {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.hosts-charts-list-label span {
    font-size: 13px;
    color: #ffffffd9;
}

.hosts-charts-list-data {
    background-color: color;
}

.hosts-charts-list-data span {
    background-color: white;
}

.host-line-chart-container {
    height: 200px;
}

.host-pie-chart {
    max-height: 180px;
}
.host-bar-chart {
    max-height: 220px;
}

#hosts-requiring-reboot-chart {
    position: relative;
    height: 150px;
}
#hosts-requiring-reboot-chart p {
    font-size: 35px;
}
#hosts-requiring-reboot-chart:hover #hosts-requiring-reboot-chart-list {
    display: block;
}

#packagesContainer, #eventsContainer {
    position: relative;
}

#packagesInstalledDiv {
    padding: 5px;
}

#packagesContainerLoader {
    display: none;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.showEventDetails, .hosts-charts-list-label-hosts-list, #hosts-requiring-reboot-chart-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: left;
    z-index: 5; /* Pour que le bloc s'affiche au dessus des autres et ne soit pas à moitié masqué */
    border-radius: 4px;
    background-color: #112334;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}
.showEventDetails p {
    margin-bottom: 5px;
}
.hosts-charts-list-label-hosts-list {
    margin-top: 15px;
}
#hosts-requiring-reboot-chart-list {
    top: 100px;
}

/* Timeline de l'historique d'un paquet
   Source : https://www.w3schools.com/howto/howto_css_timeline.asp
*/
.timeline * {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #cecece;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #112334;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-container-gray-left, .timeline-container-blue-left, .timeline-container-green-left, .timeline-container-yellow-left, .timeline-container-red-left {
    left: 0;
}

/* Place the container to the right */
.timeline-container-gray-right, .timeline-container-blue-right, .timeline-container-green-right, .timeline-container-yellow-right, .timeline-container-red-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-container-gray-left::before, .timeline-container-green-left::before, .timeline-container-blue-left::before, .timeline-container-yellow-left::before, .timeline-container-red-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Add arrows to the right container (pointing left) */
.timeline-container-gray-right::before, .timeline-container-green-right::before, .timeline-container-blue-right::before, .timeline-container-yellow-right::before, .timeline-container-red-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    /*border-width: 10px 10px 10px 0;*/
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-container-gray-left::before       { border-left: 11px solid #333333; }
.timeline-container-gray-right::before      { border-right: 11px solid #333333; }
.timeline-container-green-left::before      { border-left: 11px solid #14be7e; }
.timeline-container-green-right::before     { border-right: 11px solid #14be7e; }
.timeline-container-blue-left::before       { border-left: 11px solid #5473e8; }
.timeline-container-blue-right::before      { border-right: 11px solid #5473e8; }
.timeline-container-yellow-left::before     { border-left: 11px solid #ffb536; }
.timeline-container-yellow-right::before    { border-right: 11px solid #ffb536; }
.timeline-container-red-left::before        { border-left: 11px solid #ff0044; }
.timeline-container-red-right::before       { border-right: 11px solid #ff0044; }

/* Fix the circle for containers on the right side */
.timeline-container-gray-right::after, .timeline-container-blue-right::after, .timeline-container-green-right::after, .timeline-container-yellow-right::after, .timeline-container-red-right::after {
    left: -16px;
}

/* The actual content */
.timeline-container-content-gray, .timeline-container-content-green, .timeline-container-content-blue, .timeline-container-content-yellow, .timeline-container-content-red {
    padding: 30px 30px;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 13px -12px #000000, 0px 0px 10px 2px rgb(0 0 0 / 15%);
}
.timeline-container-content-gray {
    background-color: #182b3e;
}
.timeline-container-content-green {
    background-color: #15bf7f;
}
.timeline-container-content-blue {
    background-color: #5473e8;
}
.timeline-container-content-yellow {
    background-color: #ffb536;
}
.timeline-container-content-red {
    background-color: #ff0044;
}

.timeline-event-date {
    font-size: 12px;
    opacity: 0.50;
    position: absolute;
    top: 2px;
    left: 4px;
}
.timeline-event-text {
    font-style: italic;
    font-weight: 600;
}
.timeline-event-version {
    font-size: 12px;
    opacity: 0.80;
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.hostActionBtn-container {
    max-width: 300px;
    min-width: 300px;
    position: absolute;
    right: 80px;
    top: -50px;
    z-index: 1;
}

.hostActionBtn {
    display: none;
}

.hostActionBtn-action {
    text-align: right;
}

.hostActionBtn-container:hover .hostActionBtn {
    display: block;
}

/* Desktop configuration */
@media (min-width:1500px) {
    .groups-container {
        columns: 2;
        column-count: 2;
    }

    .host-overview-container {
        flex-direction: row;
    }

    .host-pkg-history-container {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
    }

    .host-pkg-history-container > div {
        width: 100%;
    }

    .packageDetails {
        width: 50%;
    }
}