.confirm-box {
    width: 95%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    align-items: flex-start;
    visibility: hidden;
    min-height: 20px;
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    right: -1000px;
    bottom: 50px;
    z-index: 1000;
    background-color: #22384F;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    color: white;
    border-radius: 20px 0 0 20px;
    border-left: 5px solid #15bf7f;
    border-top: 1px solid #d1d1d11f;
    border-bottom: 1px solid #d1d1d11f;
}

.confirm-box-cancel-btn {
    width: 26px !important;
    height: 26px !important;
    max-height: initial !important;
    cursor: pointer;
}

/* Desktop configuration */
@media (min-width:1025px) {
    .confirm-box {
        width: 29%;
    }
}
