.echart-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.echart {
    position: relative;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 250px;
    box-sizing: border-box;
}

.echart-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
