
[class^="label"] {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 10px;
    min-width: 12px;
    min-height: 12px;
    line-height: 12px !important;
    text-align: center;
    border-radius: 20px;
    background: transparent;
    border: 1.5px solid currentColor;
    box-shadow: none;
}
.label-icon-tr {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    column-gap: 10px;
    font-size: 12px;
    padding: 4px 10px;
    margin: 1px;
    min-width: 50px;
    min-height: 12px;
    border-radius: 60px;
    border: 1px solid #24405c;
    color: white;
    text-align: left;
    box-shadow: none;
}

.label-white, .label-black {
    color: #c0d0e2;
    border-color: #c0d0e2;
}
.label-green {
    color: #15bf7f;
    border-color: #15bf7f;
}
.label-blue {
    color: #5473e8;
    border-color: #5473e8;
}
.label-red {
    color: #F32F63;
    border-color: #F32F63;
}
.label-yellow {
    color: #ffb536;
    border-color: #ffb536;
}
.label-tr {
    color: #8A99AA;
    border-color: #24405c;
}
