@font-face{ font-family: 'Source Sans Pro';                     src: url('../fonts/SourceSansPro-Light.otf')       format('truetype');	}
@font-face{	font-family: 'Source Sans Pro Regular';             src: url('../fonts/SourceSansPro-Regular.otf')     format('truetype');	}
@font-face{	font-family: 'Source Sans Pro SemiBold';            src: url('../fonts/SourceSansPro-Semibold.otf')    format('truetype');	}
@font-face{	font-family: 'Source Sans Pro Light';               src: url('../fonts/SourceSansPro-Light.otf')       format('truetype');	}
@font-face{	font-family: 'Source Sans Pro Extra Light';         src: url('../fonts/SourceSansPro-ExtraLight.otf')  format('truetype');	}
@font-face{ font-family: 'Courrier New';                        src: url('../fonts/cour.ttf')                      format('truetype');	}
@font-face{ font-family: 'ethnocentric';                        src: url('../fonts/ethnocentric rg.ttf')           format('truetype');	}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Codes couleurs  

// inputs //



// boutons //
    boutons bleu :              #0275d8
    boutons bleu (hover) :      #0468c0

    boutons vert :              #4CAF50 
    boutons vert (hover) :      #3e8e41 

    boutons rouge :             #d9534f
    boutons rouge (hover) :     #b14440

    boutons gris :              #555555
    boutons gris (hover) : 

    boutons blanc :             #f7f7f7
    boutons blanc (hover) :


// sections //
    couleur de fond gris : background-color: #2b2b2b;
    couleur de fond gris +foncé : background-color: #252525;
*/


body {
    /* Gestion de l'affichage 'fade-in' de chaque page, afin de rendre l'affichage des pages plus agréable 
    Voir @keyframes fadeInAnimation en complément ci-dessous */
    animation: fadeInAnimation ease 0.00001s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    color: whitesmoke; /* couleur par défaut */
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

a {
    text-decoration: none;
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 transparent, 
                  .25px .25px transparent;
}

a:hover {
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 white, 
                  .25px .25px white;
}

p, label, a {
    font-size: 13px;
    color: whitesmoke;
}

h1, h2, h3, h4, h5 {
	color: whitesmoke;
}

header {
    width: 100%;
    margin-bottom: 70px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    padding-top: 20px;
    padding-bottom: 20px;
}

header #title {
    font-family: 'ethnocentric';
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    color: whitesmoke;
}

header a {
    font-size: 18px;
}

hr {
    border-color: gray;
    opacity: 0.11;
}

/* Classes génériques */
.is-inline {
    display: inline;
}

.is-block {
    display: block;
}

.is-inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-top {
    vertical-align: top;
}

.text-align-center {
    text-align: center;
}

.img-align-center {
    display: block;
    margin: auto;
}

/* Quelques classes génériques permettant de créer des textes de couleurs */
.greentext {
    color: #4CAF50;
}

.redtext {
    color: #d9534f;
}

/* Classes génériques permettant de créer des div ou autres block avec un fond défini et des bords arrondis */
.background-gray, .background-green, .background-blue {
    border-radius: 5px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #252525;
     padding: 2px;
}

.background-green {
     background-color: #4CAF50;
}

.background-blue {
     background-color: #0275d8;
}

.background-green:hover {
    background-color: #3e8e41;
    transition-duration: 0.4s;
}

.background-blue:hover {
    background-color: #0468c0;
    transition-duration: 0.4s;
}


/* Affichage de version alpha/beta sous le titre du produit */
#version {
    width: 35px;
    padding: 1px;
    float: left;
    position: absolute;
    top: 43px;
    left: 210px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
    font-weight: bold;
    color: whitesmoke;
    background-color:#4CAF50;
    border-radius: 1px;
}

#menu {
    margin: auto;
    display: block;
    padding: 0px; /* force padding à 0, sinon le navigateur ajoute un padding par défaut de 40px à gauche */
}

#menu li {
	display: inline-block;
	list-style: none;
}

#menu a {
    margin-right: 60px;
    position: sticky;
}

section.main {
    width: 99%;
    margin: auto; /* pour recentrer tout le bloc section */
}

.div-half-left {
    width: 48%;
    min-height: 250px;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.div-half-right {
    width: 48%;
    min-height: 250px;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.div-28 { width: 28%; padding: 10px; }
.div-29 { width: 29%; padding: 10px; }
.div-30 { width: 30%; padding: 10px; }
.div-33 { width: 33%; padding: 10px; }
.div-45 { width: 45%; padding: 10px; }
.div-48 { width: 48%; padding: 10px; }
.div-49 { width: 49%; padding: 10px; }
.div-50 { width: 50%; padding: 10px; }
.div-65 { width: 65%; padding: 10px; }
.div-67 { width: 67%; padding: 10px; }
.div-68 { width: 68%; padding: 10px; }
.div-69 { width: 69%; padding: 10px; }
.div-70 { width: 70%; padding: 10px; }

section.center {
    width: 99%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
    overflow: hidden;
}

/* Sections conteneurs permettant de séparer les pages en deux */
section.mainSectionLeft {
    width: 68%;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.mainSectionRight {
    width: 30%;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.left {
    width: 98%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionLeft' */
    min-height: 250px;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align:top;
    border-radius: 5px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
    overflow: hidden;
}

/* paramètres pour les sections sur la droite, et pour les sections masqués */
section.right, #newRepoSlideDiv {
    width: 97%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionRight' */
    margin-bottom: 10px;
    padding: 10px;
    vertical-align:top;
    border-radius: 5px;
    float: right;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
}

/* on écrase certaines des valeurs ci-dessus afin que la section soit masquée au chargement de la page */
#newRepoSlideDiv {
    width: 0px; /* longueur de 0 par défaut, pour que cette section soit complètement masqué. */
    padding: 0px; /* padding forcé à 0 par défaut, pour que cette section soit complètement masqué. C'est le script Jquery qui remets le padding à 10 une fois la section affichée */
    overflow: hidden; /* cacher ce qui dépasse, pour que cette section soit complètement masqué par défaut */
}

#serverInfoSlideDiv {
    width: 97%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionRight' */
    margin-bottom: 10px;
    vertical-align:top;
    float: right;
    overflow: hidden; /* cacher ce qui dépasse, pour que cette section soit complètement masqué lorsqu'on choisi de le masquer */
}

section.right label {
    font-size: 13px;
    width: 100px;
}

section.right input {
    width: 100%;
}

section.right input[type=radio] {
    width: 20px;
}

form.actionform {
    padding: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
     background-color:#333333;
}

table {
    font-size: 13px;
}

.table-auto {
    table-layout: auto !important;
    display: inline-block;
}

.table-large {
    width: 100%;
}

.table-medium {
    width: 65%;
}

table.actiontable { /* réservé aux tableaux d'actions (opérations) sur la page d'index */
    width: 100%;
}

table thead, .reposListHead {
    font-weight: bold;
}

table.list-repos {
    width: 100%;
    font-size: 13px;
}

table.list-repos td {
    padding-left: 10px;
    padding-right: 10px;
}

table.list-repos td.td-xsmall {
    max-width: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-repos tr.color1 td { 
    color: var(--color1);
}

.list-repos tr.color2 td { 
    color: var(--color2);
}

/* couleur de fond sur les envs, on applique ça un span plutot que le td entier */
table.list-repos td.td-redbackground span, table.list-repos td.td-greenbackground span, table.list-repos td.td-bluebackground span, table.list-repos td.td-whitebackground span {
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
}

table.list-repos td.td-redbackground span {
    background-color: #d9534f;
    color: whitesmoke;
}

table.list-repos td.td-greenbackground span {
    background-color:#4CAF50;
    color: whitesmoke;
}

table.list-repos td.td-bluebackground span {
    background-color: #0275d8;
    color: whitesmoke;
}

table.list-repos td.td-whitebackground span {
    background-color: #f7f7f7;
    color: black;
}

table.list-repos td.td-greenbackground span:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

table.list-repos td.td-redbackground span:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

table.list-repos td.td-bluebackground span:hover {
    transition-duration: 0.4s;
    background-color: #0468c0;
}

.hide, .tr-hide, .td-hide {
    display: none;
}

table.configuration-table {
    width: 100%;
}

td {
    color: whitesmoke;
}

.td-auto {
    width: auto !important;
    padding-left: 5px;
    padding-right: 5px;
}

.td-fit { /* cellule qui s'adapte à la taille du contenu, avec léger padding sur les côté pour ne pas finir collé au reste */
    width: 1%;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
}

.td-small {
    width: 200px;
}

.td-medium {
    width: 300px;
}

.td-large {
    width: 500px;
}

#log {
    font-size: 13px;
    padding: 10px;
}

/* conf commune à toutes les icones */
.icon, .icon-lowopacity, .icon-lowopacity-red, .icon-lowopacity-blue, .icon-lowopacity-green, .icon-verylowopacity, .icon-verylowopacity-red, .icon-verylowopacity-blue, .icon-verylowopacity-green, .icon-invisible, .icon-mediumopacity {
    height: 11px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon-lowopacity, .icon-lowopacity-red, .icon-lowopacity-blue, .icon-lowopacity-green {
    opacity: 0.33;
}

.icon-verylowopacity, .icon-verylowopacity-red, .icon-verylowopacity-blue, .icon-verylowopacity-green { /* pour une icone encore plus transparente */
    opacity: 0.06;
}

.icon-lowopacity:hover, .icon-verylowopacity:hover, .icon-invisible:hover, .icon-mediumopacity:hover {
    opacity: 1;
}

.icon-lowopacity-red:hover {
    /* trouver comment modifier la couleur du png en rouge */
    opacity: 1;
}

.icon-lowopacity-blue:hover {
    opacity: 1;
}

.icon-lowopacity-green:hover {
    opacity: 1;
}

.icon-verylowopacity-red:hover {
    /* trouver comment modifier la couleur du png en rouge */
    opacity: 1;
}

.icon-invisible { /* icone invisible, révélée par un passage de souris (hover) */
    opacity: 0;
}

.icon-mediumopacity {
    opacity: 0.55;
}


.li-operation-running {
    background-color: #d9534f;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 2px 10px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
}

.li-operation-running:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

.li-operation-not-running {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 2px 10px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
}

.li-operation-not-running:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

.divReposConf, .divGroupsList, .divReposSources, .divReposListDisplay, .divManageReposSources {
    display: none;
}

.divReposConf {
    color: whitesmoke;
    font-size: 10px;
    padding: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #333333;
}

.divReposConf:hover
{
    transition-duration: 0.4s;
    background-color: #2e2e2e;
}

.divManageReposSources, .divGroupsList, .divReposListDisplay {
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #252525;
}

.divReposSources textarea {
    min-height: 200px;
}


/* form, button, input, textarea */

input[type=text], input[type=date], input[type=time], input[type=number], select {
    width: 100%;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    color: whitesmoke;
    background-color:#474747;
}

input[type=text].input-small, .select-small {
    width: 100px;
}

input[type=text].input-medium, .select-medium {
    width: 150px;
}

input[type=text].input-large, .select-large {
    width: 250px;
}

.select-xxlarge {
    width: 400px;
}

.button-operations-large {
    background-color: #555555;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: 1;
    color: whitesmoke;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-large {
    background-color: #555555;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: 1;
    color: whitesmoke;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-xsmall {
    background-color: #505050;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    width: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-small {
    background-color: #505050;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-large-red {
    background-color: #d9534f;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-large-red:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

.button-submit-large-green {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-large-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

.button-submit-medium-green {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-medium-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

.button-submit-small-green {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-small-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

.button-submit-xsmall-green {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-xsmall-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

.button-submit-large-blue {
    background-color: #0275d8;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-medium-blue {
    background-color: #0275d8;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin-top: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-xsmall-blue {
    background-color: #0275d8;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 3px;
    margin: 2px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

/* Boutton carré */
.button-submit-xxsmall-blue {
    background-color: #0275d8;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 2px;
    margin: 2px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button-submit-large-blue:hover, .button-submit-medium-blue:hover, .button-submit-xsmall-blue:hover, .button-submit-xxsmall-blue:hover {
    transition-duration: 0.4s;
    background-color: #0468c0;
}

.button-xsmall:hover, .button-small:hover, .button-large:hover, .button-action:hover, .button-operations-large:hover {
    background-color: #505050;
}

/* Menu gestion des profils */
/* input qui ont le même fond que la couleur de fond de leur conteneur permettant que le cadre de l'input soit 'invisible' */
input[type=text].invisibleInput, input[type=text].invisibleInput2, input[type=text].invisibleInput-green, input[type=text].invisibleInput-blue {
    border: none;
    font-weight: bold;
}

input[type=text].invisibleInput {
    background-color: #252525;
}

input[type=text].invisibleInput2 { /* 2eme type de input invisible, couleur différent */
    background-color: #2b2b2b;
}

input[type=text].invisibleInput-green {
    background-color: #4CAF50;
}

input[type=text].invisibleInput-green:hover {
    background-color: #3e8e41;
}

input[type=text].invisibleInput-blue {
    background-color: #0468c0;
}

textarea {
    width: 100%;
    font-size: 13px;
    color: whitesmoke;
    background-color:#3b3b3b;
    border-radius: 3px;
}

.div-inline {
    display: inline-block;
}

.div-inline-right {
    display: inline-block;
    margin-right: 0px;
    margin-left: auto;
}

.div-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

footer {
    height: 400px;
    margin-top: 100px;
    padding: 10px; /* marge intérieur */
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#2b2b2b;
}

footer p {
    color: gray;
}

#github img { /* lien vers github dans le footer */
    width: 25px;
}

/* pastilles vertes ou rouge, petite taille */
img.cronStatus {
    width: 8px;
}

#planCronStatus h5, img {
    display: inline-block;
}
/* on veut que la pastille soit placée sur la droite */
#planCronStatus img {
    float: right;
}

/* Boutons au sommet de la liste des repos permettant d'afficher les div cachées (groupes, repos sources) */
#ReposListDisplayToggleButton, #ReposSourcesSlideUpButton, #GroupsListSlideUpButton {
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#newRepoSlideButton {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

#newRepoSlideButton {
    background-color:#0275d8;
    border-radius: 5px;
}

#newRepoSlideButton:hover {
    background-color: #0468c0;
}

#ReposListDisplayToggleButton:hover, #ReposSourcesSlideUpButton:hover, #GroupsListSlideUpButton:hover {
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    border-radius: 5px;
}

.alert { /* div affichant une alerte au milieu de la page lorsqu'une action n'aboutie pas */
    width: 300px;
    height: 50px;
    border-radius: 5px;
    position: fixed; /* on positionne le div au centre de la page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

.chart { /* largeur des graphiques chartjs */
    width: 110px;
    margin: auto; /* centrer les graphiques */
    padding: 15px;
}

.serverInfo {
    width: 31.5%;
    height: 200px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
    border-radius: 6px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 1px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: top;
}

.serverInfo:hover {
    background-color: #252525;
    transition-duration: 0.4s;
}

.serverInfo:hover .icon-invisible { /* Lorsque la souris est sur le div, on affiche légèrement l'icone 'Fermer' invisible. Celle-ci devient pleinement visible si on place sa souris dessus */
    opacity: 0.33;
}

#newRepoCloseButton, #GroupsListCloseButton, #ReposSourcesCloseButton { /* Boutons 'croix' permettant de fermer la div coulissante */
    float: right;
}

#newRepoSlideButton:hover .hide {
    display: inline-block;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Boutons Top et Down pour atteindre le haut ou le bas de page */
#scrollButtons {
    position: fixed;
    top: 220px;
    right: 10px;
}

.button-top {
    border-radius: 5px;
    display: block;
    background-color: #555555;
    margin: 5px;
    padding: 8px;
    opacity: 0.50;
}

.button-down {
    border-radius: 5px;
    display: block;
    background-color: #555555;
    margin: 5px;
    padding: 8px;
    opacity: 0.50;
}

.button-top:hover, .button-down:hover {
    opacity: 1;
}

.profileDivContainer, .groupDivContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.profileDiv {
    flex: 0 0 48%;
    flex-grow : 0;
    margin: 4px;
    background-color: #4CAF50;
    border-radius: 2px;
}

.groupDiv {
    flex: 0 0 30%;
    flex-grow : 0;
    margin: 4px;
    background-color: #0468c0;
    border-radius: 2px;
}

.reposSourcesDiv {
    width: 100%;
    margin: 4px;
    padding: 4px;
    background-color: #0468c0;
    border-radius: 2px;
}

.profileDivConf, .groupDivConf {
    margin: 0px;
    padding: 4px;
    background-color: #252525;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}