@font-face{ font-family: 'ethnocentric'; src: url('../fonts/ethnocentric rg.ttf') format('truetype'); }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Codes couleurs  

// boutons //
    boutons bleu :              #2b426e
    boutons bleu (hover) :      #263859

    boutons vert :              #4CAF50 
    boutons vert (hover) :      #3e8e41 

    boutons rouge :             #d9534f
    boutons rouge (hover) :     #b14440

    boutons gris :              #555555
    boutons gris (hover) : 

    boutons blanc :             #f7f7f7
    boutons blanc (hover) :
*/

body {
    /* Gestion de l'affichage 'fade-in' de chaque page, afin de rendre l'affichage des pages plus agréable 
    Voir @keyframes fadeInAnimation en complément ci-dessous */
    animation: fadeInAnimation ease 0.00001s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    color: whitesmoke; /* couleur par défaut */
    overflow-x: hidden;

  /* -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);*/
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    /*float: left;*/
    margin-top: 50px;
    position: absolute;
    top: 50;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    /*animation: loader 2s infinite ease;*/
  }

  /*
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }*/

a {
    text-decoration: none;
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 transparent, 
                  .25px .25px transparent;
}

a:hover {
    /* utilisation de text-shadow pour gérer le bold sur un lien survolé, sans que ça provoque de décalage */
    text-shadow: -.25px -.25px 0 white, 
                  .25px .25px white;
}

p, label, a, span {
    font-size: 14px;
    color: whitesmoke;
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
	color: whitesmoke;
    opacity: 0.50;
    font-weight: lighter;
    margin-bottom: 30px;
}

hr {
    border-color: gray;
    opacity: 0.11;
}

/* Classes génériques */
.is-inline { display: inline; }
.is-block { display: block; }
.is-inline-block { display: inline-block; }
.float-left { float: left; }
.float-right { float: right; }
.align-top { vertical-align: top; }
.text-align-center { text-align: center; }
.pointer { cursor: pointer; }
/* Quelques classes génériques permettant de créer des textes de couleurs */
.greentext { color: #4CAF50; }
.redtext { color: #d9534f; }
.yellowtext { color: #f0ad4e; }
.graytext { color : gray; }
.center { text-align: center; }
.baseline { vertical-align: baseline; }
.lowopacity { opacity: 0.33; }
.verylowopacity { opacity: 0.08; }

/* Classes génériques permettant de créer des div ou autres block avec un fond défini et des bords arrondis */
.background-gray {
    border-radius: 5px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #252525;
     padding: 2px;
}

/* Affichage de version alpha/beta sous le titre du produit */
#version {
    width: 35px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 6px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
    font-weight: bold;
    color: whitesmoke;
    background-color:#4CAF50;
    border-radius: 1px;
}

header {
    width: 100%;
    margin-bottom: 70px;
}
header li span:not(#title, #version, .underline, .li-operation-not-running, .li-operation-running) {
    opacity: 0.55;
}
nav {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}
.menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}
.menu > li {
    float: left;
    margin-right: 70px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: left;
}
.menu > li span:not(.li-operation-not-running, .li-operation-running) {
    font-size: 18px;
}
.menu > li span.underline {
    border-bottom: 2px solid #2b426e;
    padding-bottom: 21px;
}
.sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 100ms ease-in-out;
    list-style-type: none;
    padding-left: 0;
    margin-top: 8px;
}
.sub-menu li {
    width: 100%;
    color: white;
    transform: scale(0);
    transform-origin: top center;
    transition: all 100ms ease-in-out;
    line-height: 1px;
    height: 29px;
}
.sub-menu li:last-child {
    border-bottom: 0;
}
.menu > li:hover .sub-menu li {
    transform: scale(1);
}
.menu > li:hover .sub-menu {
    transform: scale(1);
}
.li-operation-running {
    background-color: #d9534f;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 6px 10px;
    text-align: center;
}
.li-operation-running:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}
.li-operation-running a {
    font-size: 14px;
    text-decoration: none;
}
.li-operation-not-running {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}
.li-operation-not-running:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}
.li-operation-not-running a {
    font-size: 14px;
    text-decoration: none;
}
#title {
    font-family: 'ethnocentric';
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    color: whitesmoke;
}

section.main {
    width: 99%;
    margin: auto; /* pour recentrer tout le bloc section */
}

.div-28 { width: 28%; padding: 10px; }.div-29 { width: 29%; padding: 10px; }.div-30 { width: 30%; padding: 10px; }
.div-33 { width: 33%; padding: 10px; }.div-45 { width: 45%; padding: 10px; }.div-48 { width: 48%; padding: 10px; }
.div-49 { width: 49%; padding: 10px; }.div-50 { width: 50%; padding: 10px; }.div-65 { width: 65%; padding: 10px; }
.div-67 { width: 67%; padding: 10px; }.div-68 { width: 68%; padding: 10px; }.div-69 { width: 69%; padding: 10px; }
.div-70 { width: 70%; padding: 10px; }

/* Les articles constituent le container principal des sections mainSectionLeft et mainSectionRight. */
article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Sections conteneurs permettant de séparer les pages en deux */
section.mainSectionLeft {
    flex: 0 0 68%;
    order: 1;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.mainSectionRight {
    flex: 0 0 30%;
    order: 2;
    padding-right: 10px;
    float: right;
    vertical-align: top; /* force toutes les sous-sections à commencer en haut de la section principale */
}

section.left, section.right, .section-center, section.missing-param-alert, #newRepoSlideDiv {
    width: 98%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionLeft' */
    margin-bottom: 10px;
    padding: 10px;
    vertical-align:top;
    border-radius: 5px;
    box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
      0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
    /*overflow: hidden; Désactivé car empêche le bon fonctionnement de "position: sticky" sur run.php */
}
/* Paramètres supplémentaires pour les class ci-dessus */
.section-center { width: 99%; margin: auto; }
section.left { min-height: 300px; display: inline-block; }
section.right, #newRepoSlideDiv { float: right; }
section.missing-param-alert {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* on écrase certaines des valeurs ci-dessus afin que la section soit masquée au chargement de la page */
#newRepoSlideDiv, #groupsDiv, #sourcesDiv {
    width: 0px; /* longueur de 0 par défaut, pour que cette section soit complètement masqué. */
    padding: 0px; /* padding forcé à 0 par défaut, pour que cette section soit complètement masqué. C'est le script Jquery qui remets le padding à 10 une fois la section affichée */
    overflow: hidden; /* cacher ce qui dépasse, pour que cette section soit complètement masqué par défaut */
}

#serverInfoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* cette section prend toute la largeur ou presque (penser qu'il y a un padding de 10) de sa section conteneur 'mainSectionRight' */
    margin-bottom: 10px;
    vertical-align:top;
    border-radius: 5px;
}

.serverInfo {
    flex: 0 0 32.3%;
    height: 200px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
    background-color:#2b2b2b;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: top;
}

.serverInfo:hover {
    background-color: #252525;
    transition-duration: 0.4s;
}

.serverInfo:hover .icon-invisible { /* Lorsque la souris est sur le div, on affiche légèrement l'icone 'Fermer' invisible. Celle-ci devient pleinement visible si on place sa souris dessus */
    opacity: 0.33;
}

form.actionform {
    padding: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
     background-color:#333333;
}

table {
    font-size: 14px;
}

.table-large { width: 100%; }
.table-medium { width: 65%; }
/* réservé aux tableaux d'actions (opérations) sur la page d'index */
table.actiontable { width: 100%; }
table thead, .reposListHead { font-weight: bold; }

table.list-repos {
    width: 100%;
    font-size: 14px;
    table-layout: auto !important;
    white-space: nowrap;
    /* optimisation pour l'affichage des tableaux sur Chrome */
    /*-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);*/
        /* -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);*/
}

table.list-repos tr .rl-fit {
    width: 0px;
    padding: 0px;
    margin: 0px;
}

table.list-repos tr .rl-10 {
    width: 0px;
    margin: 0px;
    padding-right: 10px;
}

table.list-repos tr .rl-30 {
    width: 0px;
    margin: 0px;
    padding-right: 30px;
}

table.list-repos tr .rl-desc {
    margin: 0px;
    padding-right: 30px;
    white-space: normal;
}

.rl-white-bckg span, .rl-red-bckg span {
    width: 100%;
    display: block; /* pour que le width s'applique correctement */
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
}

.rl-white-bckg span {
    background-color: lightgray;
    color: black;
}

.rl-red-bckg span {
    background-color: #d9534f;
    color: whitesmoke;
}

/* couleur de fond sur les envs, on applique ça un span plutot que le td entier */
td.td-redbackground span, td.td-greenbackground span, td.td-bluebackground span, td.td-whitebackground span {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
}

td.td-redbackground span {
    background-color: #d9534f;
    color: whitesmoke;
}

td.td-greenbackground span {
    background-color:#4CAF50;
    color: whitesmoke;
}

td.td-bluebackground span {
    background-color: #2b426e;
    color: whitesmoke;
}

td.td-whitebackground span {
    background-color: #f7f7f7;
    color: black;
}

td.td-greenbackground span:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}

td.td-redbackground span:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

td.td-bluebackground span:hover {
    transition-duration: 0.4s;
    background-color: #263859;
}

.hide, .tr-hide, .td-hide {
    display: none;
}

td {
    color: whitesmoke;
}

.td-fit { /* cellule qui s'adapte à la taille du contenu, avec léger padding sur les côté pour ne pas finir collé au reste */
    width: 1%;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
}

.td-small { width: 200px; }
.td-medium { width: 300px; }
.td-large { width: 500px; }

/* conf commune à toutes les icones */
.icon, .icon-small, .icon-lowopacity, .icon-lowopacity-red, .icon-lowopacity-blue, .icon-lowopacity-green, .icon-verylowopacity, .icon-verylowopacity-red, .icon-verylowopacity-blue, .icon-verylowopacity-green, .icon-invisible, .icon-mediumopacity {
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.icon-small { height: 8px; }
.icon-lowopacity, .icon-lowopacity-red, .icon-lowopacity-blue, .icon-lowopacity-green {
    opacity: 0.33;
}
.icon-verylowopacity, .icon-verylowopacity-red, .icon-verylowopacity-blue, .icon-verylowopacity-green { /* pour une icone encore plus transparente */
    opacity: 0.08;
}
.icon-lowopacity:hover, .icon-verylowopacity:hover, .icon-invisible:hover, .icon-mediumopacity:hover {
    opacity: 1;
}
.icon-lowopacity-red:hover {
    /* trouver comment modifier la couleur du png en rouge */
    opacity: 1;
}
.icon-lowopacity-blue:hover {
    opacity: 1;
}
.icon-lowopacity-green:hover {
    opacity: 1;
}
.icon-verylowopacity-red:hover {
    /* trouver comment modifier la couleur du png en rouge */
    opacity: 1;
}
.icon-invisible { /* icone invisible, révélée par un passage de souris (hover) */
    opacity: 0;
}
.icon-mediumopacity {
    opacity: 0.55;
}

.divReposListDisplay {
    display: none;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(255, 255, 255, 0.2);
     background-color: #252525;
}
.divReposConf { 
    width: 100%;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
    position: fixed; /* on positionne le div au centre de la page */
    bottom: 0;
    left: 0;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    color: whitesmoke;
    vertical-align: middle;
}
.divReposConf-close {
    position: fixed;
    right: 8px;
}

/* form, button, input, textarea */

input[type=text], input[type=date], input[type=time], input[type=number], input[type=color], select {
    width: 100%;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    color: whitesmoke;
    background-color:#474747;
}

input[type=color].color-xsmall { width: 50px; vertical-align: middle; }
input[type=text].input-small, .select-small, input[type=color].color-small { width: 100px; }
input[type=text].input-medium, .select-medium, input[type=color].color-medium { width: 150px; }
input[type=text].input-large, .select-large, input[type=color].color-large { width: 250px; }

.select-xxlarge {
    width: 400px;
}

/* Tous les boutons */
.button-submit-large-blue, .button-submit-medium-blue, .button-submit-small-blue, .button-submit-xsmall-blue, .button-submit-xxsmall-blue, .button-submit-large-green, .button-submit-medium-green, .button-submit-small-green, .button-submit-xsmall-green, .button-submit-xxsmall-green, .button-submit-large-red, .button-submit-medium-red, .button-submit-small-red, .button-submit-xsmall-red, .button-submit-xxsmall-red
{
    height: 30px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 3px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
/* Tous les boutons bleus */
.button-submit-large-blue, .button-submit-medium-blue, .button-submit-small-blue, .button-submit-xsmall-blue, .button-submit-xxsmall-blue {
    background-color: #2b426e;
}
/* Tous les boutons verts */
.button-submit-large-green, .button-submit-medium-green, .button-submit-small-green, .button-submit-xsmall-green, .button-submit-xxsmall-green {
    background-color: #4CAF50;
}
/* Tous les boutons rouges */
.button-submit-large-red, .button-submit-medium-red, .button-submit-small-red, .button-submit-xsmall-red, .button-submit-xxsmall-red {
    background-color: #d9534f;
}
/* Boutons taille large */
.button-large, .button-submit-large-blue, .button-submit-large-green, .button-submit-large-red {
    width: 100%;
}
/* Boutons taille moyenne */
.button-medium, .button-submit-medium-blue, .button-submit-medium-green, .button-submit-medium-red {
    width: 150px;
}
/* Boutons petite taille */
.button-small, .button-submit-small-blue, .button-submit-small-green, .button-submit-small-red {
    width: 100px;
}
/* Boutons très petite taille */
.button-xsmall, .button-submit-xsmall-blue, .button-submit-xsmall-green, .button-submit-xsmall-red {
    width: 50px;
}
/* Boutton carré */
.button-xxsmall, .button-submit-xxsmall-blue, .button-submit-xxsmall-green, .button-submit-xxsmall-red {
    padding: 2px;
    margin: 2px;
    width: 30px;
}
/* Tous les boutons bleus :hover */
.button-submit-large-blue:hover, .button-submit-medium-blue:hover, .button-submit-small-blue:hover, .button-submit-xsmall-blue:hover, .button-submit-xxsmall-blue:hover {
    transition-duration: 0.4s;
    background-color: #263859;
}
/* Tous les boutons verts :hover */
.button-submit-large-green:hover, .button-submit-medium-green:hover, .button-submit-small-green:hover, .button-submit-xsmall-green:hover, .button-submit-xxsmall-green:hover {
    transition-duration: 0.4s;
    background-color: #3e8e41;
}
/* Tous les boutons rouges :hover */
.button-submit-large-red:hover, .button-submit-medium-red:hover, .button-submit-small-red:hover, .button-submit-xsmall-red:hover, .button-submit-xxsmall-red:hover {
    transition-duration: 0.4s;
    background-color: #b14440;
}

/* Menu gestion des profils */
/* input qui ont le même fond que la couleur de fond de leur conteneur permettant que le cadre de l'input soit 'invisible' */
input[type=text].invisibleInput, input[type=text].invisibleInput2, input[type=text].invisibleInput-green, input[type=text].invisibleInput-blue {
    border: none;
}

input[type=text].invisibleInput {
    background-color: #2b2b2b;
}

input[type=text].invisibleInput2 { /* 2eme type de input invisible, couleur différent */
    background-color: #2b2b2b;
}

input[type=text].invisibleInput-green {
    background-color: #4CAF50;
}

input[type=text].invisibleInput-blue {
    background-color: #2b426e;
    width: 100%;
}

/* boutons switch-field */
.switch-field {
	display: flex;
	overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
}

.switch-field input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
	width: 1px;
    margin-left: 0;
    margin-right: 0;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: whitesmoke;
    color: #3b3b3b;
	line-height: 1;
	text-align: center;
	padding: 3px 7px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #2b426e;
	box-shadow: none;
    color: whitesmoke;
}

.switch-field label:first-of-type {
	border-radius: 2px 0 0 2px;
}

.switch-field label:last-of-type {
	border-radius: 0 2px 2px 0;
}

/** Switchs On/Off */

/* The onoff-switch-label - the box around the slider */
.onoff-switch-label {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
/* Hide default HTML checkbox */
.onoff-switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.onoff-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.onoff-switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
.onoff-switch-input:checked + .onoff-switch-slider {
    background-color: #2b426e;
}

.onoff-switch-input:focus + .onoff-switch-slider {
    box-shadow: 0 0 1px #2b426e;
}

.onoff-switch-input:checked + .onoff-switch-slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.env, .last-env {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
    border-radius: 2px;
    box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(109, 109, 109, 0.2);
}
.env {
    color: black;
    background-color: whitesmoke;
}
.last-env {
    color: whitesmoke;
    background-color: #d9534f;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 14px;
    color: whitesmoke;
    background-color:#3b3b3b;
    border-radius: 3px;
}

.textarea-100 {
    min-height: 100px;
}

.div-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

footer {
    height: 400px;
    margin-top: 100px;
    padding: 10px; /* marge intérieur */
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#2b2b2b;
}
footer p { color: gray; }
/* lien vers github dans le footer */
#github img { width: 25px; }

/* Cron : pastilles vertes ou rouge */
#planCronStatus h5, #planCronStatus span { display: inline-block; }
/* on veut que la pastille soit placée sur la droite */
#planCronStatus span {
    color: gray;
    float: right;
}
#planCronStatus img { width: 8px; }

/* Boutons au sommet de la liste des repos permettant d'afficher les div cachées (groupes, repos sources) */
#ReposListDisplayToggleButton, #ReposSourcesSlideUpButton, #GroupsListSlideUpButton {
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#newRepoSlideButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    background-color:#2b426e;
    border-radius: 5px;
}

#newRepoSlideButton:hover {
    background-color: #263859;
}

#ReposListDisplayToggleButton:hover, #ReposSourcesSlideUpButton:hover, #GroupsListSlideUpButton:hover {
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    border-radius: 5px;
}

.alert, .alert-success, .alert-error, .deleteAlert { /* div affichant une alerte au milieu de la page */
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed; /* on positionne le div au centre de la page */
    bottom: 0;
    left: 0;
    box-shadow:
     0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
     0px 2px 2px 0px rgba(109, 109, 109, 0.2);
    background-color:#252525;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}
.alert-success {
    background-color: #4CAF50;
}
.alert-error {
    background-color: firebrick;
}
.alert span, .alert-success span, .alert-error span, .deleteAlert span {
    font-size: 18px;
}
.deleteAlert-message, .alert-message {
    display: inline-block;
    font-size: 18px;
}
.deleteAlert-buttons-container {
    float: right;
}

.deleteAlert-delete, .deleteAlert-cancel {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid black;
}
.deleteAlert-delete {
    background-color: #d9534f;
}
.deleteAlert-delete:hover {
    background-color: #b14440;
}

.chart { /* largeur des graphiques chartjs */
    width: 110px;
    margin: auto; /* centrer les graphiques */
    padding: 15px;
}

#newRepoCloseButton, #GroupsListCloseButton, #ReposSourcesCloseButton, #DisplayCloseButton { /* Boutons 'croix' permettant de fermer la div coulissante */
    float: right;
}

#newRepoSlideButton:hover .hide {
    display: inline-block;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.profileDiv {
    border-radius: 2px;
    width: 49.3%;
    margin: 4px;
    display: inline;
    background-color: #2b426e;
    float: left;
}

.profileDiv table {
    padding-top: 2px;
    padding-bottom: 2px;
}

.profileDivConf, .detailsDiv {
    margin: 0px;
    padding: 4px;
    background-color: #252525;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.sourceDivs input[type=text].input-small {
    background-color: #252525;
    border: none;
    margin-right: 5px;
    margin-bottom: 2px;
}

.sourceDivs input[type=text].input-large {
    width: 80%;
}

/* Gif de chargement caché par défaut */
.loading { display: none; }

/* Scrollbar personnalisée */
/* Compatible Chrome uniquement */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #596EB5;
    border-radius: 5px;
    /*border: 1px solid #2b426e;*/
}

/* divs avec rubans de couleurs */
/* Container */
.header-container {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* rubans de couleurs */
.header-green, .header-blue, .header-red {
    border-radius: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.header-green-min, .header-blue-min, .header-red-min { /* idem au dessus mais convient mieux lorsqu'il y a un <input> à l'intérieur du container */
    border-radius: 2px;
    padding-bottom: 0px; /* pas de padding lorsqu'il y a un <input> */
    padding-top: 0px;
}
.header-green, .header-green-min { background-color: #4CAF50; }
.header-red, .header-red-min     { background-color: #d9534f; }
.header-blue, .header-blue-min   { background-color: #2b426e; }

#op_input_container {
    display: flex;
    flex-wrap: wrap;
}

#op_input_container span, #op_input_container input[type=text], #op_input_container select {
    flex: 0 0 49%;
}

#op_input_container span:not(.onoff-switch-slider) { /* On applique à tous les span de #op_input_container sauf ceux ayant la class .onoff-switch-slider */
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Les paragraphes eux occupent tout l'espace, les titres aussi */
#op_input_container p, #op_input_container h3 {
    flex: 0 0 100%;
}

#maintenance {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #252525;
    opacity: 0.7;
}

#maintenance p {
    height: 100px;
    line-height: 40;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}