name: Run operations on a deb repo (from an Ubuntu latest system)

on:
  push:
    branches: [ devel ]
  pull_request:
    push:
      branches: [ stable ]

jobs:
  run-operations:
    runs-on: ubuntu-latest
    # container:
    #   image: debian:latest
    #   options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies packages
        run: sudo apt-get install -y reprepro curl gnupg2 findutils lsb-release ca-certificates apt-transport-https software-properties-common

      - name: Setup PHP
        run: sudo add-apt-repository ppa:ondrej/php -y
        # uses: shivammathur/setup-php@v2
        # with:
        #   php-version: '8.1'
        #   coverage: none

      - name: Install PHP modules
        run: sudo apt update && sudo apt-get install -y php8.1-cli php8.1-sqlite3 php8.1-xml php8.1-curl sqlite3

      - name: Print PHP version
        run: php --version

      - name: Set up repomanager files & directories
        run: |
          sudo groupadd repomanager
          sudo usermod -a -G repomanager www-data
          sudo mkdir -p /home/repo
          sudo mkdir -p /var/www/repomanager
          sudo mkdir -p /var/lib/repomanager
          sudo mkdir -p /var/lib/repomanager/backups
          sudo mkdir -p /var/lib/repomanager/logs/main
          sudo mkdir -p /var/lib/repomanager/configurations
          sudo mkdir -p /var/lib/repomanager/operations/pool/
          sudo mkdir -p /var/lib/repomanager/db
          sudo mkdir -p /var/lib/repomanager/.gnupg
          sudo cp -r $GITHUB_WORKSPACE/www/* /var/www/repomanager/
          sudo cp -r $GITHUB_WORKSPACE/tools /var/lib/repomanager/
          sudo cp $GITHUB_WORKSPACE/repomanager /var/lib/repomanager/
          sudo cp $GITHUB_WORKSPACE/www/version /var/lib/repomanager/version.available

      - name: Set up repomanager main config
        run: |
          sudo curl -s -o /var/lib/repomanager/configurations/repomanager.conf https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/repomanager.conf 2> /dev/null
          sudo curl -s -L -o /var/lib/repomanager/db/repomanager.db https://github.com/lbr38/resources/raw/main/ci/repomanager/repomanager.db 2> /dev/null
          sudo curl -s -L -o /var/lib/repomanager/db/repomanager-hosts.db https://github.com/lbr38/resources/raw/main/ci/repomanager/repomanager-hosts.db 2> /dev/null
          sudo ls -l /var/lib/repomanager/configurations/
          sudo ls -l /var/lib/repomanager/db/
      
      - name: Generate repomanager GPG signing key
        run: |
          echo "Key-Type: RSA" > /tmp/gpg-template-file
          echo "Key-Length: 2048" >> /tmp/gpg-template-file
          echo "Key-Usage: sign" >> /tmp/gpg-template-file
          echo "Name-Real: Repomanager" >> /tmp/gpg-template-file
          echo "Name-Comment: No description" >> /tmp/gpg-template-file
          echo "Name-Email: gpgkey@nomail.com" >> /tmp/gpg-template-file
          echo "Expire-Date: 0" >> /tmp/gpg-template-file
          echo "Passphrase: beautifulPassphrase" >> /tmp/gpg-template-file
          sudo gpg2 --batch --gen-key --homedir /var/lib/repomanager/.gnupg/ --no-permission-warning /tmp/gpg-template-file 2>/dev/null
          echo "beautifulPassphrase" > passphrase
          sudo mv passphrase /var/lib/repomanager/.gnupg/passphrase
          rm /tmp/gpg-template-file

      - name: Set up GPG config
        run: |
          echo -e "pinentry-mode loopback\npassphrase-file /var/lib/repomanager/.gnupg/passphrase" > gpg.conf 
          sudo mv gpg.conf /var/lib/repomanager/.gnupg/gpg.conf

      - name: Download jobs
        run: |
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-mirror-repo.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-mirror-repo.json 2> /dev/null
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-update-repo.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-update-repo.json 2> /dev/null
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-duplicate-repo.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-duplicate-repo.json 2> /dev/null
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-create-env.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-create-env.json 2> /dev/null
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-delete.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-delete.json 2> /dev/null
          sudo curl -s -o /var/lib/repomanager/operations/pool/ci-reconstruct.json https://raw.githubusercontent.com/lbr38/resources/main/ci/repomanager/operations/deb/ci-reconstruct.json 2> /dev/null

      - name: Set up permissions
        run: sudo /var/lib/repomanager/repomanager -p

      - name: Check repomanager dependencies
        run: sudo /var/lib/repomanager/repomanager -d --package-type deb

      - name: Update database
        run: |
          sudo -u www-data php /var/www/repomanager/tools/initialize-database.php
          sudo -u www-data php /var/www/repomanager/tools/update-database.php

      - name: Run job - Mirror repo
        #run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-mirror-repo' || sleep 10; sudo cat /var/lib/repomanager/logs/main/lastlog.log; exit 1
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-mirror-repo'

      - name: Print mirrored repo content
        run: sudo ls -l /home/repo/debian/buster/contrib_pprd/pool/contrib/

      - name: Run job - Update repo
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-update-repo'

      - name: Run job - Duplicate repo
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-duplicate-repo'

      - name: Print duplicated repo content
        run: sudo ls -l /home/repo/debian-copy/buster/contrib_pprd/pool/contrib/

      - name: Run job - Create repo env
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-create-env'

      - name: Run job - Reconstruct repo
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-reconstruct'

      - name: Run job - Delete repo
        run: sudo -u www-data php /var/www/repomanager/operations/execute.php --id='ci-delete'