name: PHP_CodeSniffer

on:
  push:
    branches: [ devel ]
  pull_request:
    push:
      branches: [ main ]
jobs:
  phpcs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: composer, cs2pr

      - name: Install PHP_CodeSniffer
        run: |
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          php phpcs.phar --version

      - name: Detect coding standard violations
        run: php phpcs.phar --standard=$GITHUB_WORKSPACE/.github/lint/phpcs.xml --colors -n $GITHUB_WORKSPACE --ignore=libs/,*.js