upstream repomanager_docker {
    server 127.0.0.1:{{ repomanager_listen_port }};
}

# Disable some logging
map $request_uri $loggable {
    /ajax/controller.php 0;
    default 1;
}

server {
    listen {{ ansible_default_ipv4.address }}:80;
    server_name {{ repomanager_fqdn }};

    access_log /var/log/nginx/{{ repomanager_fqdn }}_access.log combined if=$loggable;
    error_log /var/log/nginx/{{ repomanager_fqdn }}_error.log;

    return 301 https://$server_name$request_uri;
}
 
server {
    listen {{ ansible_default_ipv4.address }}:443 ssl;
    server_name {{ repomanager_fqdn }};

    # Path to SSL certificate/key files
    ssl_certificate {{ repomanager_vhost_certificate_path }};
    ssl_certificate_key {{ repomanager_vhost_private_key_path }};

    # Path to log files
    access_log /var/log/nginx/{{ repomanager_fqdn }}_ssl_access.log combined if=$loggable;
    error_log /var/log/nginx/{{ repomanager_fqdn }}_ssl_error.log;

    # Max upload size
    client_max_body_size {{ repomanager_vhost_max_upload_size | default('32') }}M;
 
    # Security headers
    add_header Strict-Transport-Security "max-age=15768000; includeSubDomains; preload;" always;
    add_header Referrer-Policy "no-referrer" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Download-Options "noopen" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Permitted-Cross-Domain-Policies "none" always;
    add_header X-Robots-Tag "none" always;
    add_header X-XSS-Protection "1; mode=block" always;

    # Remove X-Powered-By, which is an information leak
    fastcgi_hide_header X-Powered-By;
 
    location / {
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port 443;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 86400;
        proxy_pass http://repomanager_docker;
    }
}
